<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if no_bot == True %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if 'site' in g and g.site %}
  <title>{{ g.site.siteName }}</title>
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery-ui.min.js"></script>
  <script src="/static/bootstrap/popper.1.14.3.min.js"></script>
  <script src="/static/bootstrap/4.1.3/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/4.1.3/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/liberaforms.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

{% if ('current_user' in g and g.current_user) or (navbar != False) %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-full"
     style="background-color:{{g.site.primary_color}}">
  <div class="container">

    {% if 'site' in g and g.site %}
    <a class="navbar-brand" href="/"><img src="/favicon.ico" /></a>
    {% endif %}

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    {% if 'current_user' in g and g.current_user %}
      <ul class="navbar-nav">
        {% if g.current_user.enabled %}
          {% if g.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="/admin/forms">
                {%trans%}Forms{%endtrans%}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                {# i18n: Used as website menu title, only for admin, linking to page about instance users #}
                {%trans%}Users{%endtrans%}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                {# i18n: Used as website menu title, only for admin, linking to page about instance configuration #}
                {%trans%}Config{%endtrans%}
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/">{{g.site.siteName}}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">{{g.site.siteName}}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav" style="margin-left: auto;">
        {% if g.current_user.enabled %}
          <li class="nav-item">
              <a class="nav-link" href="/forms">
                {# i18n: Used as website menu title, linking to page about user's forms #}
                {%trans%}My forms{%endtrans%}
              </a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/user/{{ g.current_user.username }}">
            {# i18n: Used as website menu title, linking to page about user's settings #}
            {%trans%}Settings{%endtrans%}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            {# i18n: Used as website menu title, to log out #}
            {%trans%}Logout{%endtrans%}
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    {% else %}
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">{{g.site.siteName}}</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="margin-left: auto;">
        {% if not g.site.invitationOnly %}
          <li class="nav-item">
            <a class="nav-link" href="/user/new">
              {# i18n: Used as website menu title before logging in, when open registration is enabled, linking to page to create new user #}
              {%trans%}Create an account{%endtrans%}
            </a>
          </li>
        {% endif %}
        <li class="nav-item" style="margin-right: 1em">
          <a class="nav-link" href="/user/login">
              {# i18n: Used as website menu title before logging in, linking to page to log in #}
            {%trans%}Login{%endtrans%}
          </a>
        </li>
      </ul>
    {% endif %}
    </div>
  </div>
</nav>
{% endif %}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="{{ category }} flash_message">
        {{ message | safe }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div id="main-content">
{% block content %}{% endblock %}
</div>

<p>&nbsp;</p>
<div id="footer" class="container-fluid">
    {% if ('current_user' in g and g.current_user) %}
    <i class="fa fa-question-circle" aria-hidden="true"></i>
    <a href="https://docs.liberaforms.org/{{g.current_user['preferences']['language']}}"
       target="_blank">
      {%trans%}User guide{%endtrans%}
    </a>
    |
    {% endif %}
    <i class="fa fa-copyright" aria-hidden="true"></i>
    AGPLv3 |
    <a href="https://liberaforms.org">LiberaForms</a>
</div>


{% if 'current_user' in g and g.current_user %}
<script>
  var csrftoken = "{{ csrf_token() }}";
</script>
{% endif %}

</body>
</html>
