{% extends "base.html" %}
{% block content %}

<!-- change_sitename_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">{%trans%}Change site name{%endtrans%}</div>

      <div class="title_2">{%trans%}New site name{%endtrans%}</div>

      <form method="POST">
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        <p>
          <input type="text"
                 name="sitename"
                 class="form-control"
                 value="{{site.siteName }}"
                 required >
        </p>
        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Submit{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/admin">
            {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
