{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}File extensions{%endtrans%}
      </div>

      <form method="POST">
        {{ wtform.csrf_token }}
        {{ wtform.extensions.label }} <span class='required'>●</span><br />
        {{trans}}A list of file extensions. One per line.{{endtrans}}
        {{ wtform.extensions(class_="form-control", rows="7") }}
        {% for error in wtform.extensions.errors %}
            <span class="formError">{{ error }}</span><br />
        {% endfor %}

        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Submit{%endtrans%}">
          <a class="btn
                    btn-primary"
             role="button"
             href="/admin">
             {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>

      <p>&nbsp</p>

      <div class="title_2">
        {%trans%}Enabled extensions{%endtrans%}
      </div>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>{%trans%}Extension{%endtrans%}</th>
            <th>Mimetype</th>
          </tr>
        </thead>
        <tbody>
        {% set ns = namespace(keys=[]) %}
        {% for mimetype in g.site.allowed_mimetypes.values() %}
          {% for (key, value) in g.site.allowed_mimetypes.items() if value == mimetype %}
            {% if not key in ns.keys %}
              <tr>
                <td>
                  {{ key }}
                </td>
                <td>
                  {{ value }}
                </td>
              </tr>
              {% set ns.keys = ns.keys + [key] %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
