{% extends "base.html" %}
{% block content %}

<!-- open_graph_page -->


<style>
.opengraph-preview {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  align-content: flex-start;
  border: 1px solid lightgray;
}
.opengraph-preview img {
  width: 64px;
}
.opengraph-preview div:first-of-type {
  flex-shrink: 0;
}
.opengraph-preview div:last-of-type {
  flex-grow: 1;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="title_1 delimited">
        {%trans%}Display for social media{%endtrans%}
      </div>

      <p>
        {% set host_url = g.site.host_url %}
        {%trans%}Links to {{host_url}} are displayed something like this{%endtrans%}
      </p>

      <form method="POST">
        {{ wtform.csrf_token }}

        {{ wtform.short_desc.label }}
        <span class='required-dot'>●</span><br />

        <div class="opengraph-preview">
          <div>
            <img src="/favicon.ico" />
          </div>
          <div>
            {{ wtform.short_desc(class_="form-control",
                                 style="resize:none;") }}
          </div>
        </div>
        <span class="hint">
          {%trans%}Total characters:{%endtrans%}
          <span id="char_count"></span>
        </span>
        {% for error in wtform.short_desc.errors %}
            <span class="formError">{{ error }}</span><br />
        {% endfor %}

        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/admin">
            {%trans%}Go back{%endtrans%}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function update_total_chars(){
    var total_chars = $('textarea[id=short_desc]').val().length;
    $("#char_count").html(total_chars);
  }
  $(document).ready(function() {
    update_total_chars();
  });
  $('textarea[id=short_desc]').on("input", function(){
    update_total_chars();
  });
</script>

{% endblock %}
