html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}
body {
  color: #333333;
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
#header{
  font-size: 1.3em;
}

#main-content {
  margin-top: 1.5em;
}

#footer {
  text-align:right;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 25px;
}

hr { margin-top: 5px }

.returnToForm {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.title_1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.title_2 {
  font-size: 1.25em;
  margin-bottom: 0.65em;
}
.title_3 {
  font-size: 1.15em;
  margin-bottom: 0.4em;
}
.delimited {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}
.form-actions {
  margin-top:2.15em;
}
.hint {
  font-size: 1em;
  font-style: italic;
  color: grey;
}
.btn-xs {
  padding: .45rem .45rem;
  font-size: .875rem;
  line-height: .55;
  border-radius: .2rem;
}
label {
  font-size: 1.1em;
}
.author-badge {
  font-size:0.95em;
  font-weight: 400;
}
.custom-radio, .custom-checkbox {
    margin-bottom: 0.4em;
}
.custom-radio label {
  padding-left: 0.75em;
  cursor: pointer;
}
.custom-control-label label {
  font-size: 1em;
  margin-top:-3px;
}

input[type="date"], input[type="number"], input[type="time"] {
  width: auto !important;
}
.entries-table {
  font-size: 14px;
}
.td-controls td:first-child {
    text-align: center;
}
.cell-editor  {
  white-space:nowrap;
}
.cell-editor > input[type="text"] {
  width: 70%;
}
.link {
  color:#337ab7;
  cursor:pointer;
}
.formIntroduction {

}
.dataConsent {
  padding: 1em 0 2em 0;
}
.dataConsent > .blurb {
  font-size: 0.85em;
  color: #666;
}
.dataConsent input {
  vertical-align: -2px;
}
#embed_snippet {
  display:none;
  padding-bottom: 1.5em;
}
.highlightedText {
  color: #d9534f;
}
.marked-up h1, .marked-up h2 {
  margin-bottom: 1rem
}
.formIntroduction, .afterSubmitText {
    padding-bottom: 1.5em; 
}
.formIntroduction img, .afterSubmitText img {
  width: 100%;
}


/* ######### Flash messages ######### */

.flash_message {
    text-align: center;
}
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #28a745;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #17a2b8;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #dc3545;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.required {
    font-size: 1.05em;
    color: #c10000;
    padding: 0.5em 0 0.5em 0;
}

/* ######### WTForms ######### */
.formError {
    color: #d9534f;
}

/* ######### Entries table ######### */

.delete-row-icon {
    font-size: 1.15em !important;
    color: grey;
}
.delete-row-icon.enabled {
    color: #d9534f;
    cursor: pointer;
}
.undo-delete-row {
    font-weight: bold !important;
    color: #5cb85c;
    cursor: pointer;
}
.deleted-row {
    background-color: #FAAFBE;
    text-decoration: line-through;
    cursor: auto;
}
.entryCellHighlighter td:not(.deleted-row):not(:nth-child(-n+2)):not(.cellEditionMode):hover {
    background-color: #ffffcc;
    cursor: pointer;
}
.cellEditionMode {
    cursor: auto;
}
.saveCellEdition {
    font-size: 1.25em !important;
    color: #5cb85c;
    cursor: pointer;
    padding-left: 0.27em;
}
.cancelCellEdition {
    font-size: 1.25em !important;
    color: #d9534f;
    cursor: pointer;
    padding-left: 0.27em;
}

/* ######### formBuilder ######### */

.formbuilder-checkbox label,
.formbuilder-checkbox-inline label,
.formbuilder-radio label,
.formbuilder-radio-inline label {
  font-size: 1rem;
}
.formbuilder-checkbox-group input[type="checkbox"] {
  vertical-align:-2px;
}
.formbuilder-radio-group input[type="radio"] {
  vertical-align:-2px;
}
.required-asterisk {
  visibility: hidden;
}
.required-asterisk:after {
  content: '●';
  visibility: visible;
}
.formbuilder-required {
  visibility: hidden;
}
.formbuilder-required:after {
  content: '●';
  visibility: visible;
}
