{% extends "base.html" %}
{% block content %}

{% set chart_data = form.getChartData() %}

<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>

<div class="container">
<div class="row" style="font-size:1.5em">
    
    {% if shared %}
    <div class="col">
    {{ form.slug }}
    </div>
    <div class="col-auto">
    <a class="btn btn-primary btn-sm" role="button" href="{{form.getSharedEntriesURL()}}">
        {%trans%}View entries{%endtrans%}
        <span class="badge badge-light">{{form.totalEntries}}</span>
    </a>
    <a class="btn btn-primary btn-sm" role="button" href="{{ form.getSharedEntriesURL('csv')}}">
        {%trans%}Download CSV{%endtrans%}<i class="fa fa-download" aria-hidden="true"></i>
    </a>
    </div>
    {% else %}
    <div class="col">
    <a class="btn btn-primary btn-sm" role="button" href="/forms/view/{{form.id}}">{%trans%}Form details{%endtrans%}</a>
    {{ form.slug }}
    </div>
    <div class="col-auto">
    <a class="btn btn-primary btn-sm" role="button" href="/forms/entries/{{form.id}}">
        {%trans%}View entries{%endtrans%}
        <span class="badge badge-light">{{form.totalEntries}}</span>
    </a>
    <a class="btn btn-primary btn-sm" role="button" href="/forms/csv/{{form.id}}">{%trans%}Download CSV{%endtrans%}</a>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12">
    <hr />

    {% if not shared %}
    {% if form.editors[g.current_user.id|string] is defined %}
        <div id="toggle_notification" class="btn-group btn-toggle">
            <button id="notification_true" class="btn btn-sm btn-default {% if form.editors[g.current_user.id|string]['notification']['newEntry'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
            <button id="notification_false" class="btn btn-sm btn-default {% if not form.editors[g.current_user.id|string]['notification']['newEntry'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
        </div>
        {%trans%}Notify me on each new entry{%endtrans%}
    {% endif %}
    <p>&nbsp;</p>
    {% endif %}

    <canvas id="time_chart" height="100"></canvas>
    </div>
</div>
{% if chart_data['multi_choice']|length %}

<div class="row" style="margin-top:1rem;">
    <div class="col-md-12">
    <div class="title_1 delimited">{%trans%}Multiple choice{%endtrans%}</div>
    </div>
    
    {% for field in chart_data['multi_choice'] %}
    <div class="col-md-4">
    <canvas id="{{ loop.index }}_multi_choice_chart" height="100"></canvas>
    </div>
    {% endfor %}
</div>
{% endif %}


<script>
{% set fg_colors = [    "rgba(233, 132, 0, 1)", "rgba(182, 0, 181, 1)", "rgba(255, 228, 0, 1)",
                        "rgba(255, 0, 0, 1)", "rgba(0, 123 ,255, 1)", "rgba(0, 190, 0, 1)"] %}
{% set bg_colors = [    "rgba(233, 132, 0, 0.7)", "rgba(182, 0, 181, 0.7)", "rgba(255, 228, 0, 0.7)",
                        "rgba(255, 0, 0, 0.7)", "rgba(0, 123 ,255, 0.7)", "rgba(0, 190, 0, 0.7)"] %}
var ctx = document.getElementById('time_chart');
var time_chart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [
            {
                label: "{%trans%}Entries{%endtrans%}",
                data: {{ chart_data['time_chart']['entries']|tojson }},
                borderColor: ["rgba(0, 190, 0)"],                
                fill: false,
                borderWidth: 3,
                lineTension: 0.1,
            },
            {% if chart_data['time_chart'].pop('entries') %}{% endif %}
            {% for label, data in chart_data['time_chart'].items() %}
            {
                label: "{{ label }}",
                data: {{ data|tojson }},
                {% if loop.index > fg_colors|length %}
                    borderColor: "{{ fg_colors[range(0, 3)|random] }}",
                {% else %}
                    borderColor: ["{{ fg_colors[loop.index-1] }}"],
                {% endif %}
                hidden: true,
                fill: false,
                borderWidth: 3,
                lineTension: 0.1,
            },
            {% endfor %}
        ],
    },
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                precision: 0,
            }],
            yAxes: [{
                ticks: {
                    precision: 0,
                }
            }],
        }
    }
});

{% if chart_data['multi_choice']|length %}
    {% for label, data in chart_data['multi_choice'].items() %}

var ctx = document.getElementById("{{ loop.index }}_multi_choice_chart");
ctx.height = 275;
new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data['axis_1']|tojson}},
        datasets: [
            {
                label: "{{label}}",
                data: {{ data['axis_2']|tojson }},
                {% if loop.index > fg_colors|length %}
                    {% set color_index=range(0, 3)|random %}
                    backgroundColor: "{{ bg_colors[color_index] }}",
                {% else %}
                    backgroundColor: "{{ bg_colors[loop.index-1] }}",
                {% endif %}
                fill: true,
                borderWidth: 0,
            }
        ]
    },
    options: {
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    precision: 0,
                }
            }]
        }
    }
});

    {% endfor %}
{% endif %}

{% if not shared %}
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-notification/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
{% endif %}
</script>


{% endblock %}
