{% extends "base.html" %}
{% block content %}

<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>

<div class="container">
<div class="row" style="font-size:1.5em">
    <div class="col">
    <a class="btn btn-primary btn-sm" role="button" href="/forms/entries/{{form.id}}">{%trans%}Go back{%endtrans%}</a>
    {{ form.slug }}
    <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    <canvas id="myChart" height="100"></canvas>
    </div>
</div>


<script>
{% set chart_data = form.getDataForStats() %}
{% set colors = ["rgba(182, 0, 181, 1)", "rgba(0, 190, 0, 1)", "rgba(233, 132, 0, 1)", "rgba(255, 228, 0, 1)"] %}
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [
            {
                label: "{%trans%}Entries{%endtrans%}",
                borderColor: ["rgba(0,123,255)"],                
                fill: false,
                borderWidth: 3,
                lineTension: 0.1,
                data: {{ chart_data['entries']|tojson }},
            },
            {% if chart_data.pop('entries') %}{% endif %}
            {% for label, data in chart_data.items() %}
            {
                label: "{{ label }}",
                {% if loop.index > colors|length %}
                    borderColor: ["{{ colors[range(0, 3)|random] }}"],
                {% else %}
                    borderColor: ["{{ colors[loop.index-1] }}"],
                {% endif %}
                hidden: true,
                
                fill: false,
                borderWidth: 3,
                lineTension: 0.1,
                data: {{ data|tojson }},
            },
            {% endfor %}
        ],
    },
    options: {
        scales: {
            xAxes: [{
                type: 'time',
            }],
        }
    }
});
</script>


{% endblock %}
