SECRET_KEY = 'super secret key'

ROOT_USERS = ['your_email_address@example.com']
DEFAULT_LANGUAGE = 'en'
TMP_DIR = '/tmp'

## SQLALCHEMY config
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://user:passwd@localhost:5432/liberaforms"
SQLALCHEMY_TRACK_MODIFICATIONS=False

# 86400 seconds = 24h
TOKEN_EXPIRATION = 604800

# Session management (see docs/INSTALL)
SESSION_TYPE = "filesystem"
#SESSION_TYPE = "memcached"

# FLASK_ENV
# this sets the Flask running mode
# can be 'production' or 'development'
FLASK_ENV=production

# FLASK_CONFIG
# this sets the config to use (see config.py)
# can be 'production' or 'development'
FLASK_CONFIG=production
