SECRET_KEY = 'super secret key'

ROOT_USERS = ['your_email_address@example.com']
DEFAULT_LANGUAGE = 'en'
TMP_DIR = '/tmp'

## Database
DB_HOST=localhost
DB_NAME=liberaforms
DB_USER=liberaforms
DB_PASSWORD=a_secret_db_password

# Maximum valid age for password resets, invitations, ..
# 86400 seconds = 24h
TOKEN_EXPIRATION = 604800

CRYPTO_KEY=

# Session management (see docs/INSTALL)
SESSION_TYPE = "filesystem"
#SESSION_TYPE = "memcached"
#MEMCACHED_HOST=
#SESSION_KEY_PREFIX=

# See docs/upload.md
ENABLE_UPLOADS=True
ENABLE_REMOTE_STORAGE=False
DEFAULT_USER_UPLOADS_LIMIT="50 MB"
# 1024 * 500 = 512000 = 500 KiB
MAX_MEDIA_SIZE=512000
# 1024 * 1024 * 1.5 = 1572864 = 1.5 MiB
MAX_ATTACHMENT_SIZE=1572864

# Directory where logs will be saved
LOG_DIR=logs

# see assets/timezones.txt for valid options
DEFAULT_TIMEZONE="Europe/Madrid"

# FLASK_ENV
# this sets the Flask running mode
# can be 'production' or 'development'
FLASK_ENV=production

# FLASK_CONFIG
# this sets the config to use (see config.py)
# can be 'production' or 'development'
FLASK_CONFIG=production

# ENABLE_PROMETHEUS_METRICS
# this activates Prometheus' /metrics route and metrics generation
ENABLE_PROMETHEUS_METRICS=False

# DEBUGGING
# Optional. Recieve Internal Server 500 errors. Good for debugging.
#ALERT_MAILS = ["your_email_address", "another_email_address"]
