include COPYING
recursive-include liberaforms/templates *
recursive-include liberaforms/static *
recursive-include liberaforms/babel *
recursive-include liberaforms/translations *
recursive-include docs *
recursive-include docker *
recursive-include data *
include liberaforms/config.example.cfg
include liberaforms/VERSION
include requirements.txt
include wsgi.py
include Dockerfile

global-exclude __pycache__
global-exclude venv
