include COPYING
recursive-include liberaforms/templates *
recursive-include liberaforms/static *
recursive-include liberaforms/babel *
recursive-include liberaforms/translations *
recursive-include docs *
include liberaforms/data/index_blurb.md
include liberaforms/config.example.cfg

global-exclude __pycache__
global-exclude venv
