Flask_Babel==1.0.0
Unidecode==1.1.1
password_strength==0.0.3.post2
WTForms==2.2.1
Flask_WTF==0.14.3
passlib==1.7.2
flask_mongoengine==0.9.5
Markdown==3.2.1
Flask==1.1.1
mongoengine==0.19.1
beautifulsoup4==4.9.1
flask-session==0.3.2
