{% extends "base.html" %}
{% block content %}

<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>

{% set stats = user.get_statistics() %}
{% set forms = user.get_forms() %}

<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="title_1 delimited">
          {%trans%}User details{%endtrans%}
      </div>
      <table class="table table-sm table-striped">
        <tr>
           <td>{%trans%}Username{%endtrans%}</td>
           <td>{{ user.username }}</td>
        </tr>
        {% if g.is_root_user_enabled %}
            <tr>
               {# i18n: Hostname of user, admin or form. The hostname is same as instance URL, for example "erabili.liberaforms.org" #}
               <td>{%trans%}Hostname{%endtrans%}</td>
               <td>{{ user.hostname }}</td>
            </tr>
        {% endif %}
        <tr>
           <td>{%trans%}Created{%endtrans%}</td>
           <td>
             {{ user.get_created_date() }}
           </td>
        </tr>
        <tr>
          {# i18n: Language selected by user #}
           <td>{%trans%}Language{%endtrans%}</td>
           <td>{{ config['LANGUAGES'][user.language][0] }}</td>
        </tr>
        <tr>
           <td>{%trans%}Email{%endtrans%}</td>
           <td>{{ user.email }}</td>
        </tr>
        <tr>
          {# i18n: Whether the email of user was validated #}
           <td>{%trans%}Validated email{%endtrans%}</td>
           <td> {% if user.validatedEmail %}
                <span>{%trans%}True{%endtrans%}</span>
                {% else %}
                <span class="highlightedText">{%trans%}False{%endtrans%}</span>
                {% endif %}
            </td>
        </tr>
        {% if config['ENABLE_UPLOADS'] %}
        <tr>
          {# i18n: Whether user is able to upload media and solicit attachments #}
          <td>{%trans%}Uploads enabled{%endtrans%}</td>
          <td>
            <div id="toggle_uploads_enabled"
                 class="btn-group btn-toggle">
              <button id="uploads_enabled_true"
                      class="btn btn-xs
                             btn-default
                             {% if user.get_uploads_enabled() %}
                             btn-success
                             {% endif %}">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="uploads_enabled_false"
                      class="btn btn-xs
                             btn-default
                             {% if not user.get_uploads_enabled() %}
                             btn-primary
                             {% endif %}">
                {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>{%trans%}Admin{%endtrans%}</td>
          <td>
            <div id="toggle_admin" class="btn-group btn-toggle">
              <button id="admin_true"
                      class="btn btn-xs
                             btn-default
                             {% if user.is_admin() %}btn-success{% endif %}">
                  {%trans%}True{%endtrans%}
              </button>
              <button id="admin_false"
                      class="btn btn-xs
                             btn-default
                             {% if not user.is_admin() %}btn-primary{% endif %}">
                {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
        <tr>
          {# i18n: Whether user is blocked by admin #}
          <td>{%trans%}Blocked by admin{%endtrans%}</td>
          <td>
            <div id="toggle_blocked"
                 class="btn-group btn-toggle">
              <button id="blocked_true"
                        class="btn
                               btn-xs
                               btn-default
                               {% if user.blocked %}btn-success{% endif %}">
                      {%trans%}True{%endtrans%}
              </button>
              <button id="blocked_false"
                        class="btn
                               btn-xs
                               btn-default
                               {% if not user.blocked %}btn-primary{% endif %}">
                      {%trans%}False{%endtrans%}
              </button>
            </div>
          </td>
        </tr>
      </table>
      {% if not user.id == g.current_user.id %}
        {% if forms.count() %}
        <input class="btn-warning
                      btn btn-sm"
               type="button"
               value="{%trans%}Delete user and authored forms{%endtrans%}"
               onClick="location.href='/admin/users/delete/{{user.id}}'">
        {% else %}
        <input class="btn-warning
                      btn btn-sm"
               type="button"
               value="{%trans%}Delete user{%endtrans%}"
               onClick="location.href='/admin/users/delete/{{user.id}}'">
        {% endif %}
      {% endif %}

    </div>
    <div class="col-md-8">

      <div class="title_1 delimited">
          {%trans%}Statistics{%endtrans%}
      </div>

      <canvas id="usage_chart" height="125"></canvas>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div data-vue-component="data-display"
           data-endpoint="/data-display/admin/user/{{user.id}}/forms"
           data-csrf_token="{{ csrf_token() }}">
      </div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>

<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_blocked').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-blocked/{{ user.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.blocked == true) {
                $('#blocked_true').addClass('btn-success');
                $('#blocked_false').removeClass('active btn-primary');
            }
            else if (data.blocked == false) {
                $('#blocked_true').removeClass('btn-success');
                $('#blocked_false').addClass('btn-primary');
            }
        }
    });
});
{% if config['ENABLE_UPLOADS'] %}
document.getElementById('toggle_uploads_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-uploads-enabled/{{ user.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.uploads_enabled == true) {
                $('#uploads_enabled_true').addClass('btn-success');
                $('#uploads_enabled_false').removeClass('btn-primary');
            }
            else if (data.uploads_enabled == false) {
                $('#uploads_enabled_true').removeClass('btn-success');
                $('#uploads_enabled_false').addClass('btn-primary');
            }
        }
    });
});
{% endif %}
document.getElementById('toggle_admin').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-admin/{{ user.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.admin == true) {
                $('#admin_true').addClass('btn-success');
                $('#admin_false').removeClass('btn-primary');
            }
            else if (data.admin == false) {
                $('#admin_true').removeClass('btn-success');
                $('#admin_false').addClass('btn-primary');
            }
        }
    });
});
var ctx = document.getElementById('usage_chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Answers')}}"],
                data: {{ stats['answers']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",

            },
            {
                label: ["{{ _('Total answers')}}"],
                data: {{ stats['total_answers']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(0, 190, 0, 0.7)",
            },
            {
                label: ["{{ _('New forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            },
            {
                label: ["{{ _('Total forms')}}"],
                data: {{ stats['total_forms']|tojson }},
                fill: true,
                hidden: true,
                borderWidth: 0,
                backgroundColor: "rgba(255, 228, 0, 0.7)",
            },
        ],
    },
    options: {
        animation: false,
        scales: { yAxes: [{
                    ticks: { beginAtZero: true, precision: 0 }
                }]
        },
        legend: {
            onHover: function (e) { e.target.style.cursor = 'pointer' },
            onLeave: function (e) { e.target.style.cursor = 'default' }
        }
    }
});
</script>

{% endblock %}
