{% extends "base.html" %}
{% block content %}

<!-- list_users_page -->

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="title_1 delimited">{%trans%}Users{%endtrans%}
        <div style="float:right">
          <a class="btn btn-primary btn-sm" role="button" href="/site/stats">
              {%trans%}Statistics{%endtrans%}<i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
          {% set total_invites = invites.count() %}
          {% if total_invites == 0 %}
              <a class="btn btn-primary btn-sm" role="button" href="/admin/invites/new">
                  {%trans%}Invite a new user{%endtrans%}
                  <span class="badge badge-light">{{ total_invites }}</span>
              </a>
          {% else %}
              <a class="btn btn-primary btn-sm" role="button" href="/admin/invites">
                  {%trans%}Invitations{%endtrans%}
                  <span class="badge badge-light">{{ total_invites }}</span>
              </a>
          {% endif %}
          {# i18n: Button to download answers received on form in CSV document format #}
          <a class="btn btn-primary btn-sm" role="button" href="/admin/users/csv">
              {%trans%}Download CSV{%endtrans%}
              <i class="fa fa-download" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div data-vue-component="data-display"
           data-endpoint="/data-display/admin-users"
           data-csrf_token="{{ csrf_token() }}">
      </div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>

{% endblock %}
