{% extends "base.html" %}
{% block content %}

<!-- list_answers_page -->

<link rel="stylesheet" href="/static/data-display/data-display.css">

{% set form_user = form.get_form_user(g.current_user.id) %}

<div class="container">
  <div class="row"
       style="font-size:1.5em">
    <div class="col mb-1">
      {% if form_user['is_editor'] == True %}
      <a class="btn btn-primary btn-sm"
         role="button"
         href="/forms/view/{{form.id}}">
         {%trans%}Form details{%endtrans%}
      </a>
      {% endif %}
      {{ form.slug }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div data-vue-component="data-display"
           data-endpoint="/data-display/form/{{form.id}}"
           data-csrf_token="{{ csrf_token() }}">
      </div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>

{% endblock %}
