{% extends "base.html" %}
{% block content %}

<!-- list_answers_page -->

<link rel="stylesheet" href="/static/dataTable/data-table.css">

{% set fieldIndex = form.get_field_index_for_data_display(with_deleted_columns=with_deleted_columns) %}


<div class="container">
  <div class="row">
      <div class="col" style="font-size:1.5em">
        {{ form.slug }}
      </div>
  </div>
</div>

<div data-vue-component="data-table"
     data-items_endpoint="/data-table/form/{{form.id}}/answers"
     data-item_endpoint="/data-table/answer/"
     data-can_edit={{ form.is_editor(g.current_user) | tojson }}
     data-csrf_token="{{ csrf_token() }}">
</div>


<script src="/static/data-table.js"></script>

{% endblock %}
