

FLASK_ENV=development
FLASK_CONFIG=testing

DEFAULT_LANGUAGE=en
SECRET_KEY=a_secret_key
ROOT_USERS=['dave@example.com']

DB_HOST=localhost
DB_NAME=test_db
DB_USER=db_user
DB_PASSWORD="db_password"

TOKEN_EXPIRATION=604800
SESSION_TYPE=filesystem

LOG_TYPE=stream
LOG_DIR=./logs

TEST_USERNAME=
TEST_USER_PASSWORD=""
TEST_USER_EMAIL=
