

FLASK_ENV=development
FLASK_CONFIG=testing

DEFAULT_LANGUAGE=en
SECRET_KEY=a_secret_key
ROOT_USERS=['dave@example.com']

DB_HOST=localhost
DB_NAME=test_db
DB_USER=db_user
DB_PASSWORD="db_password"

TOKEN_EXPIRATION=604800
SESSION_TYPE=filesystem

LOG_TYPE=stream
LOG_DIR=./logs

TEST_USERNAME=test_user
TEST_USER_PASSWORD=""
TEST_USER_EMAIL= # YOUR_EMAIL_ADDRESS

# Valid SMTP configuration. Tests will send emails with this config.

TEST_SMTP_HOST=
TEST_SMTP_PORT=
TEST_SMTP_ENCRYPTION= #['', 'SSL', 'STARTTLS']
TEST_SMTP_USERNAME=
TEST_SMTP_USER_PASSWORD=
TEST_SMTP_NO_REPLY=noreply@example.com

# Don't send emails emails during the tests
SKIP_EMAILS=True

TMP_DIR=/tmp
