

FLASK_ENV=development
FLASK_CONFIG=testing

DEFAULT_LANGUAGE=en
SECRET_KEY=a_secret_key
ROOT_USERS=['dave@example.com']

TEST_DB_HOST=localhost
TEST_DB_NAME=test_db
TEST_DB_USER=db_user
TEST_DB_PASSWORD=db_password

TOKEN_EXPIRATION=604800
SESSION_TYPE=filesystem

# See docs/upload.md
ENABLE_UPLOADS = True
# 1024 * 500 = 512000 = 512 KB
MAX_MEDIA_SIZE=512000
MAX_ATTACHMENT_SIZE=512000
CRYPTO_KEY=PPAhRsJeBjp9aBGx3sVOYXtv-t_bBTmCTCM3vLFMLpo=

ENABLE_REMOTE_STORAGE=False
MINIO_URL = https://FQDN[:PORT]
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

LOG_TYPE=stream
LOG_DIR=./logs

DEFAULT_TIMEZONE="Europe/Madrid"

EDITOR_1_USERNAME="editor1"
EDITOR_1_PASSWORD="libraforms forms"
EDITOR_1_EMAIL="editor@example.com"

# Valid SMTP configuration. Tests will send emails with this config.
TEST_SMTP_HOST=smtp.localhost
TEST_SMTP_PORT=25
TEST_SMTP_ENCRYPTION=
TEST_SMTP_USERNAME=
TEST_SMTP_USER_PASSWORD=
TEST_SMTP_NO_REPLY=no-reply@localhost

# Don't send emails emails during the tests
SKIP_EMAILS=True

TMP_DIR=/tmp

# ENABLE_PROMETHEUS_METRICS
# this activates Prometheus' /metrics route and metrics generation
ENABLE_PROMETHEUS_METRICS=True
