html {
  position: relative;
  min-height: 100%;
}
body {
  color: #333333;
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

hr { margin-top: 5px }


/* formBuilder fixes */
input[type="date"] {
    width: auto !important;
}
.fb-required {
  visibility: hidden;
}
.fb-required:after {
  content: '●';
  visibility: visible;
}


/* Flash messages */
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #5cb85c;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #337ab7;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #d9534f;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
}
