{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div class="title_1 delimited">{%trans%}Send a new user invitation{%endtrans%}</div>

    <form method="POST">
        {{ wtform.csrf_token }}
        <p>
            {{ wtform.email.label }} <span class='required'>●</span><br />
            {{ wtform.email(class_="form-control") }}
            {% for error in wtform.email.errors %}
                <span class="formError">{{ error }}</span><br />
            {% endfor %}
        </p>
        <p>
            {{ wtform.message.label }}<br />
            {{ wtform.message(class_="form-control") }}
        </p>
        <p>
            {{ wtform.admin.label }} {{ wtform.admin() }}
        </p>
        {% if g.isRootUser %}
            <div class="title_2 delimited">{%trans%}Root user options{%endtrans%}</div>

            <label>{%trans%}Invite to one of these sites{%endtrans%}</label>
            <div class="app_radios">
            {% for site in sites %}
            <div class="radio radio-info">
                <input type="radio" name="hostname" value="{{ site.hostname }}" {% if site.hostname == g.site.hostname %}checked{% endif %} >
                <label>{{ site.hostname }}</label>
            </div>
            {% endfor %}
            </div>
            <br />
        {% else %}
            <input type="hidden" name="hostname" value="{{ g.site.hostname }}" />
        {% endif %}

        <input class="btn-success btn" type="submit" value="{%trans%}Send email{%endtrans%}">
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/user/{{g.current_user.username}}'">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>
  
{% endblock %}
