{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-builder.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

<div class="container">
<div class="row">
    <div class="col-md-10">
        <div class="title_1 delimited">
        {% if session['form_id'] %}
            1. {%trans%}Edit form{%endtrans%}: {{ session['slug'] }}
        {% else %}
            1. {%trans%}Build your form here{%endtrans%}
        {% endif %}
        </div>

        <div id="fb-editor"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>&nbsp;</p>
        <div class="title_1 delimited">
            {%trans%}2. Say something to the user after the form has been submitted{%endtrans%}
        </div>

        <form id="result" method="POST" action="/forms/edit{% if session['form_id'] %}/{{ session['form_id'] }}{% endif %}" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" id="structure" name="structure" />

        {%trans%}This is a markdown editor, an easy way to write HTML.{%endtrans%}
        <a href="https://www.markdownguide.org/basic-syntax" target="_blank">{%trans%}Learn more{%endtrans%}</a>
        <textarea id="sm-editor" name="afterSubmitTextMD">{{ session['afterSubmitTextMD'] }}</textarea>
        
        {% if not session['form_id'] %}
        <div class="title_1 delimited">
            {%trans%}3. Your form will have this address{%endtrans%}
        </div>
        
        <div class="input-group mb-3 input-group" style="margin-bottom: 0 !important;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="hostname-addon">{{host_url}}</span>
          </div>
          <input    id="slug" type="text" class="form-control"
                    name="slug" aria-label="Slug" aria-describedby="hostname-addon"
                    value="{{ session['slug'] }}"
                    {% if session['form_id'] %}disabled{% else %}required{% endif %}
                    />
        </div>
        <div id="slug_not_available" class="formError" style="display:none">
            {%trans%}This URL is not available. Try another!{%endtrans%}
        </div>
        {% endif %}

        <div class="form-actions">
        <input id="form_preview" class="btn-success btn" type="submit" value="{%trans%}Preview{%endtrans%}" />
        {% if session['form_id'] %}
            <a class="btn btn-primary" role="button" href="/forms/view/{{session['form_id']}}">{%trans%}Cancel{%endtrans%}</a>
        {% else %}
            <a class="btn btn-primary" role="button" href="/forms">{%trans%}Cancel{%endtrans%}</a>
        {% endif %}
        </div>
        </form>
    </div>
</div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#sm-editor")[0]
                             });

    const fbEditor = document.getElementById("fb-editor");
    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    disabledAttrs.push("name");
    var options = {
        showActionButtons: false,
        disableFields: {{ config['FORMBUILDER_DISABLE_FIELDS'] | tojson }},
        disabledAttrs: disabledAttrs,
        controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
        i18n: {
            locale: "{{ config['LANGUAGES'][g.current_user.language][1] }}",
            location: "{{host_url}}static/formBuilder-languages/"
        },
        formData: {{ session['formStructure'] | tojson }}
    };
    const formBuilder = $(fbEditor).formBuilder(options);
    
    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        if ( {{ session['form_id'] | tojson }} == null ){
            $.ajax({
                url : "/forms/check-slug-availability",
                type: "POST",
                data : {'slug': $('#slug').val()},
                dataType: "json",
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#structure').val(formBuilder.actions.getData('json', true));
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#form_preview').val("{%trans%}OK, use this URL{%endtrans%}");
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                }
            });
        }else{
            $('#structure').val(formBuilder.actions.getData('json', true));
            simplemde.toTextArea();
            $('#result').submit();
        }
    });
    document.getElementById('slug').addEventListener('click', function(evt){
        $('#slug_not_available').hide(); 
        $('#form_preview').val("{%trans%}Preview{%endtrans%}");
    });
});
</script>
  
{% endblock %}
