{% extends "base.html" %}
{% block content %}

<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    
    <div class="returnToForm">
        <a class="btn btn-primary btn-sm" role="button" href="/forms/view/{{form.id}}">{%trans%}Return to form{%endtrans%}</a>
        {{ form.slug }}
    </div>

    <div class="row">
        <div class="col">
            <div id="toggle_notification" class="btn-group btn-toggle">
                <button id="notification_true" class="btn btn-sm btn-default {% if form.editors[g.current_user.id|string]['notification']['expiredForm'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                <button id="notification_false" class="btn btn-sm btn-default {% if not form.editors[g.current_user.id|string]['notification']['expiredForm'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
            </div>
            {%trans%}Notify me when this form expires{%endtrans%}
        </div>
        <div class="col-auto">
            <span id="expired_alert" {%if not form.expired%}style="display:none;"{%endif%}>
            <i class="fa fa-exclamation-circle highlightedText" aria-hidden="true"></i>
            {%trans%}Expired{%endtrans%}
            </span>
        </div>
    </div>
    <p>&nbsp;</p>

    <div class="title_1">
        {%trans%}Expiration conditions{%endtrans%}
    </div>
    
    <div class="title_2">
        {%trans%}Date / Time{%endtrans%}
    </div>
    
    <form class="form-inline" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group mr-1">
        <input id="date" name="date" type="date" class="form-control" onchange="js:dateSet(event);">
        </div>
        <div class="form-group mr-1">
        <input id="time" name="time" type="time" class="form-control">
        </div>
        <div class="form-group">
        <input  id="date-button"
                class="btn btn-primary"
                type="submit" value="{%trans%}Save changes{%endtrans%}" />
        </div>
    </form>

    </div>
</div>
{% if form.getAvailableNumberTypeFields() %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
        <div class="title_2">
            {%trans%}Conditionals{%endtrans%}
        </div>
        
        {% for field_name, values in form.getAvailableNumberTypeFields().items() %}
        
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="addon-{{field_name}}">
                    {{ form.getFieldLabel(field_name)|safe }}
                </span>
              </div>
              <input    id="{{field_name}}" type="number" class="form-control pl-sm-3 condition"
                        value="{{values.condition|safe}}"
                        aria-label="{{ form.getFieldLabel(field_name)|safe }}"
                        aria-describedby="addon-{{field_name}}">
              <div class="input-group-append">
                <input  id="button-{{field_name}}"
                        class="btn btn-primary"
                        type="button" value="{%trans%}Save max.{%endtrans%}"
                        onClick="js:setMaxValue('{{field_name}}');" >
              </div>
            </div>
        
        {%endfor %}        
        </div>
    </div>
{% endif %}
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

        <div class="title_1">
            {%trans%}When the form has expired{%endtrans%}
        </div>
        {%trans%}People will see this text instead of the form.{%endtrans%}
        
        <form id="editor-form" method="POST" action="/forms/expiration/save-text/{{form.id}}" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <textarea id="expired-text-editor" name="expiredTextMD">{{ form.expiredTextMarkdown }}</textarea>
            <input class="btn-success btn" type="submit" value="{%trans%}Save text{%endtrans%}">
        </form>
        </div>
    </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
    var expired_mde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#expired-text-editor")[0]
                             });
});
$("#expired-text-submit").click(function(){
    expired_mde.toTextArea();
    $("#editor-form").submit();
});
function dateSet(e){
    if ($('#time').val() == ""){
        $('#time').val("00:00")
    }
}

document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-expiration-notification/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
$(document).on("change", "#date", function () {
    $('#date-button').removeClass('btn-primary');
    $('#date-button').addClass('btn-success');
});
$(document).on("change", "#time", function () {
    $('#date-button').removeClass('btn-primary');
    $('#date-button').addClass('btn-success');
});
jQuery(function($) {
    var savedDate={{form.expiryConditions['expireDate']|tojson}};
    if (savedDate != false){
        fields=savedDate.split(' '); 
        $('#date').val(fields[0]);
        $('#time').val(fields[1].slice(0, 5));    // remove seconds for type="time"
    }
});

{% if form.getAvailableNumberTypeFields() %}
function setMaxValue(id){
    var value=$('#'+id).val();
    $.ajax({
        url : "/forms/set-field-condition/{{ form.id }}",
        type: "POST",
        dataType: "json",
        data: {"field_name": id, "condition": value},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.condition != false && data.condition == value) {
                $('#button-'+id).removeClass('btn-success');
                $('#button-'+id).addClass('btn-primary');
            }
            else{
                $('#button-'+id).removeClass('btn-success');
                $('#button-'+id).addClass('btn-primary');
                $('#'+id).val(null)
            }
            if (data.expired == true) {
                $("#expired_alert").show()
            }else{
                $("#expired_alert").hide()
            }
        }
    });
}
$(document).on("keyup", ".condition", function () {
    $('#button-'+this.id).removeClass('btn-primary');
    $('#button-'+this.id).addClass('btn-success');
});
$(document).on("change", ".condition", function () {
    $('#button-'+this.id).removeClass('btn-primary');
    $('#button-'+this.id).addClass('btn-success');
});
{% endif %}

</script>
  
{% endblock %}
