{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <div class="title_1 delimited">{%trans%}Form templates{%endtrans%}</div>

    <p>
    {%trans%}We've put together some forms you can use to get started.{%endtrans%}
    <br />
    {%trans%}Choose the template that best suits your needs and edit it to fit.{%endtrans%}
    </p>
    
    {% for template in templates %}
        <p>
            <a class="title_3" href="#{{template.id}}">{{template.name}}</a>
            <br />
            {{template.description}}
        </p>
    {% endfor %}
    
    <hr />
    {% for template in templates %}
        <a name="{{template.id}}"></a>

        <div id="fb-render-{{loop.index}}"></div>
        <div class="form-actions">
        <a class="btn btn-sm btn-success" role="button" href="/forms/new/{{template.id}}">{%trans%}Use this template{%endtrans%}</a>
        </div>
        <hr />
    {% endfor %}
    
    </div>

</div>
</div>

<script>
{% for template in templates %}
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render-{{loop.index}}');
        var formData = {{ template.structure | tojson }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
    });
{% endfor %}
</script>

{% endblock %}
