{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="title_1 delimited">
        {{ form.slug }}
        {% if form.editors[g.current_user.id|string] is defined %}
        <div style="float:right">
        <a class="btn-primary btn btn-sm" role="button" href="/forms/edit/{{form.id}}">
            {%trans%}Edit form{%endtrans%}<i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        </div>
        {% endif %}
        </div> 

        <div class="gngform">
            <div class="formIntroduction marked-up">
            {{ form.introductionText['html'] | safe }}
            </div>

            <div id="fb-render"></div>

            <div id="dataConsent" class="dataConsent" {% if not form.isDataConsentEnabled() %}style="display:none;"{% endif %}>
                <div id="dpl-blurb" class="blurb">{{ form.dataConsentHTML|safe }}</div>
                <div class="consent">
                    <input type="checkbox" name="DPL" value="ok" required />
                    &nbsp;{%trans%}I agree{%endtrans%}
                </div>
            </div>
            <input class="btn btn-lg btn-success" type="submit" value="{%trans%}Send{%endtrans%}" disabled />
        </div>
        
        <p>&nbsp;</p>
        <hr />
        <div class="afterSubmitText marked-up">
        {{ form.afterSubmitText['html'] | safe }}
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="title_1 delimited">
            {%trans%}Details{%endtrans%}
            <div style="float:right">
            {% if form.editors[g.current_user.id|string] is defined %}
                <a class="btn btn-primary btn-sm" role="button" href="/forms/entries/{{form.id}}">
                    {%trans%}View entries{%endtrans%}
                    <span class="badge badge-light">{{form.totalEntries}}</span>
                </a>
                <a class="btn btn-primary btn-sm" role="button" href="/forms/entries/stats/{{form.id}}">
                    {%trans%}Graphs{%endtrans%}<i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
            {% else %}
                <button class="btn btn-primary btn-sm" disabled>
                    {%trans%}Total entries{%endtrans%}
                    <span class="badge badge-light">{{form.totalEntries}}</span>
                </button>
            {% endif %}
            </div>
        </div>
        
        <table class="table table-sm sparse-table">
            <tr>
               <td>{%trans%}Last entry{%endtrans%}</td>
               <td>
                   {% if form.totalEntries %}
                        {% if form.editors[g.current_user.id|string] is defined %}
                        <a href="/forms/entries/{{form.id}}">{{ form.lastEntryDate }}</a>
                        {% else %}
                        {{ form.lastEntryDate }}
                        {% endif %}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>
                    {%trans%}Public URL{%endtrans%}
                    {% if not form.adminPreferences['public'] %}
                        <span class="highlightedText text-lowercase">({%trans%}Disabled{%endtrans%})</span>
                    {% endif %}
               </td>
               <td>
                   {% if form.isPublic() %}
                   <a id="formLink" href="{{ form.url }}">{{ form.url }}</a>
                   <span id="formURL" style="display:none">{{ form.url }}</span>
                   {% else %}
                   <a id="formLink" href="{{ form.url }}" style="display:none">{{ form.url }}</a>
                   <span id="formURL">{{ form.url }}</span>
                   {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Public{%endtrans%}</td>
               <td>
               {% if form.editors[g.current_user.id|string] is defined %}
                   <div id="toggle_enabled" class="btn-group btn-toggle">
                    <button id="enabled_true" class="btn btn-xs btn-default {% if form.isPublic() %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="enabled_false" class="btn btn-xs btn-default {% if not form.isPublic() %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
               {% else %}
                    {{ form.isPublic() }}              
               {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Will expire{%endtrans%}</td>
               <td>
                   {% if form.editors[g.current_user.id|string] is defined %}
                        {% if form.expired %}
                            <a class="btn btn-warning btn-xs" role="button" href="/forms/expiration/{{form.id}}">{%trans%}Expired{%endtrans%}</a>
                        {% elif form.willExpire() %}
                            <a class="btn btn-success btn-xs" role="button" href="/forms/expiration/{{form.id}}">{%trans%}True{%endtrans%}</a>
                        {% else %}
                            <a class="btn btn-primary btn-xs" role="button" href="/forms/expiration/{{form.id}}">{%trans%}False{%endtrans%}</a>
                        {% endif %}
                   {% else %}
                        {% if form.expired %}
                            {%trans%}Expired{%endtrans%}
                        {% elif form.willExpire() %}
                            {%trans%}True{%endtrans%}
                        {% else %}
                            {%trans%}False{%endtrans%}
                        {% endif %}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Shared{%endtrans%}</td>
               <td>
                   {% if form.editors[g.current_user.id|string] is defined %}
                        {% if form.isShared() %}
                        <a class="btn btn-success btn-xs" role="button" href="/forms/share/{{form.id}}">{%trans%}True{%endtrans%}</a>
                        {% else %}
                        <a class="btn btn-primary btn-xs" role="button" href="/forms/share/{{form.id}}">{%trans%}False{%endtrans%}</a>
                        {% endif %}
                   {% else %}
                        {{ form.isShared() }}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Restricted access{%endtrans%}</td>
               <td>
                   {% if form.editors[g.current_user.id|string] is defined %}
                        {% if form.restrictedAccess %}
                        <a class="btn btn-success btn-xs" role="button" href="/forms/share/{{form.id}}#restricted_access">{%trans%}True{%endtrans%}</a>
                        {% else %}
                        <a class="btn btn-primary btn-xs" role="button" href="/forms/share/{{form.id}}#restricted_access">{%trans%}False{%endtrans%}</a>
                        {% endif %}
                   {% else %}
                        {{ form.restrictedAccess }}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Require consent{%endtrans%}</td>
               <td>
               {% if form.editors[g.current_user.id|string] is defined %}
                   <div id="toggle_dataConsent" class="btn-group btn-toggle">
                    <button id="dataConsent_true" class="btn btn-xs btn-default {% if form.isDataConsentRequired() %}btn-success{% endif %}">{%trans%}Enabled{%endtrans%}</button>
                    <button id="dataConsent_false" class="btn btn-xs btn-default {% if not form.isDataConsentRequired() %}btn-primary{% endif %}">{%trans%}Disabled{%endtrans%}</button>
                   </div>
                   &nbsp;
                   <a id="show-dpl-editor" style="white-space: nowrap" href="#">{%trans%}Edit text{%endtrans%}</a>
               {% else %}
                    {{ form.isDataConsentRequired() }}            
               {% endif %}
               </td>
            </tr>
            <tr id="dpl-editor" style="display:none">
                <td colspan="2">
                <p></p>
                <form id="dpl-editor-form" action="/forms/save-consent-text/{{form.id}}" method="post">
                    <input class="btn-success btn btn-sm" type="submit" value="{%trans%}Save{%endtrans%}" />
                    <input id="cancel-edit" class="btn-primary btn btn-sm" type="button" value="{%trans%}Cancel{%endtrans%}" />
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <p></p>
                    <textarea id="sm-editor" name="editor">{{ form.dataConsentMarkdown }}</textarea>
                    <input id="dpl-markdown" type="hidden" name="DPLMD" />
                </form>
                </td>
            </tr>
            <tr>
               <td>
                    {%trans%}Author{%endtrans%}
                    {% if not form.author.enabled %}
                        <span class="highlightedText text-lowercase">({%trans%}Disabled{%endtrans%})</span>            
                    {% endif %} 
               </td>
               <td>
               {% if g.isAdmin %}
                    <a href="/admin/users/{{ form.author.id }}">{{ form.author.username }}</a>
               {% else %}
                    {{ form.author.username }}
                {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Created{%endtrans%}</td>
               <td>{{ form.created }}</td>
            </tr>
            {% if g.isRootUser %}
            <tr>
                <td>{%trans%}Hostname{%endtrans%}</td>
                <td>{{ form.hostname }}</td>
            </tr>
            {% endif %}
            
        </table>
        {% if form.editors[g.current_user.id|string] is defined %}

        <div id="embed_snippet">
        <code>{{'<iframe width="500" height="600" frameborder="0" src="'}}{{form.embed_url}}{{'"></iframe>'}}</code>
        </div>
        <p>
        <a class="btn btn-primary btn-sm" role="button" href="/forms/log/list/{{form.id}}">{%trans%}View log{%endtrans%}</a>
        <a class="btn-primary btn btn-sm" role="button" href="/forms/duplicate/{{form.id}}">{%trans%}Duplicate form{%endtrans%}</a>
        <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Embed form{%endtrans%}" onClick="js:$('#embed_snippet').show();">
        </p>
            {% if form.totalEntries == 0 %}
            <a class="btn-warning btn btn-sm" role="button" href="/forms/delete/{{form.id}}">{%trans%}Delete form{%endtrans%}</a>
            {% else %}
            <a class="btn-warning btn btn-sm" role="button" href="/forms/delete/{{form.id}}">{%trans%}Delete form and entries{%endtrans%}</a>
            {% endif %}
        {% endif %}

        {% if g.isAdmin %}
        <p>&nbsp;</p>
        <div class="title_1 delimited">
            {%trans%}Admin options{%endtrans%}
        </div>
        <a class="btn btn-primary" role="button" href="/admin/forms/change-author/{{form.id}}">{%trans%}Change author{%endtrans%}</a>
            {% if form.adminPreferences['public'] %}
            <input class="btn btn-danger" type="button" value="{%trans%}Disable form{%endtrans%}" onClick="location.href='/admin/forms/toggle-public/{{form.id}}'" >
            {% else %}
            <input class="btn btn-primary" type="button" value="{%trans%}Enable form{%endtrans%}" onClick="location.href='/admin/forms/toggle-public/{{form.id}}'" >
            {% endif %}
        {% endif %}
    </div>
</div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                addRequiredMsg();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
function addRequiredMsg(){
    if ($('#fb-render').find("span.formbuilder-required").length) {
        var firstGroup = $('#fb-render').find('.form-group').filter(':visible:first');
        if (firstGroup.length) {
            $("<div class='required'>● {%trans%}Required fields{%endtrans%}</div>").insertBefore($('#fb-render'));
        }
    }    
}
{% if form.editors[g.current_user.id|string] is defined %}
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-enabled/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('btn-success');
                $('#enabled_false').removeClass('btn-primary');
                $('#formURL').hide();
                $('#formLink').show();
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('btn-success');
                $('#enabled_false').addClass('btn-primary');
                $('#formURL').show();
                $('#formLink').hide();
            }
        }
    });
});
document.getElementById('toggle_dataConsent').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-data-consent/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.consent == true) {
                $('#dataConsent_true').addClass('btn-success');
                $('#dataConsent_false').removeClass('btn-primary');
                $('#dataConsent').show();
            }
            else if (data.consent == false) {
                $('#dataConsent_true').removeClass('btn-success');
                $('#dataConsent_false').addClass('btn-primary');
                $('#dataConsent').hide();
            }
        }
    });
});
$(document).ready(function() {
    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#sm-editor")[0]
                             });
    $("#show-dpl-editor").click(function(){
        $("#show-dpl-editor").hide()
        $('#dpl-editor').show(0, function() {
            simplemde.value($("#sm-editor").val())
            $('html, body').animate({
                scrollTop: $("#dpl-editor").offset().top -100
            }, 250);
        });
        return false;
    });
    document.getElementById('dpl-editor-form').addEventListener('submit', function(evt){
        evt.preventDefault();
        $("#dpl-markdown").val(simplemde.value());
        $('#dpl-editor-form').submit();
    });
    $("#cancel-edit").click(function(){
        $('#dpl-editor').hide();
        $("#show-dpl-editor").show()
    });
});
{% endif %}
</script>
  
{% endblock %}
