{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">

<div class="container">
<div class="row">
    <div class="col-md-8" style="font-size:1.5em">
        {%trans%}My forms{%endtrans%}
    </div>
    <div class="col-md-4 text-right">
    <a class="btn btn-sm btn-primary" role="button" href="/forms/new">{%trans%}New form{%endtrans%}</a>
    </div>
</div>

<div class="row">
<div class="col-md-12">
<hr />

<table id="forms" style="display:none" class="table table-sm table-striped">
    <thead>
    <tr>
        <th>{%trans%}Name{%endtrans%}</th>
        <th>{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Last entry{%endtrans%}</th>
        <th>{%trans%}Entries{%endtrans%}</th>
        <th>{%trans%}Public{%endtrans%}</th>
        <th>{%trans%}Shared{%endtrans%}</th>
    </tr>
    </thead>
    {% for form in forms %}
    <tr>
       <td><a href="/forms/view/{{form.id}}">{{form.slug}}</a></td>
       <td>{{form.created}}</td>
       <td>{{form.lastEntryDate}}</td>
       <td><a href="/forms/entries/{{form.id}}">&nbsp;{{form.entries|length}}&nbsp;</a></td>
       <td>{{form.isPublic()}}</td>
       <td>{{form.isShared()}}</td>
    </tr>
    {% endfor %}
</table>

</div>
</div>

<script>
$(document).ready(function() {
    $('#forms').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#forms").show();
        },
        "order": [[1, 'desc']]
    });
} );
</script>
  
{% endblock %}
