{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="title_1 delimited">
            {%trans%}Preview{%endtrans%}: {{ slug }}
        </div>

        <div class="formIntroduction marked-up">
        {{ introductionText | safe }}
        </div>

        <div id="fb-render"></div>
        <div class="form-actions">
        <input class="btn-success btn" type="submit" value="{%trans%}Send{%endtrans%}" disabled />
        </div>
        <p>&nbsp;</p>
        
        <div class="afterSubmitText marked-up">
        {{ afterSubmitMsg | safe }}
        </div>
        
        <form action="/forms/save{% if session['form_id'] %}/{{ session['form_id'] }}{% endif %}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-actions">
            <hr />
            <input class="btn-success btn" type="submit" value="{%trans%}Save{%endtrans%}">
            {% if session['form_id'] %}
                <a class="btn-primary btn" role="button" href="/forms/edit/{{session['form_id']}}">{%trans%}Edit again{%endtrans%}</a>
                <a class="btn-primary btn" role="button" href="/forms/view/{{session['form_id']}}">{%trans%}Cancel{%endtrans%}</a>
            {% else %}
                <a class="btn-primary btn" role="button" href="/forms/edit">{%trans%}Edit again{%endtrans%}</a>
                <a class="btn-primary btn" role="button" href="/forms">{%trans%}Cancel{%endtrans%}</a>
            {% endif %}
            </div>
        </form>
    </div>
</div>
</div>


<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ session['formStructure'] | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        notify: {
            success: function(message) {
                addRequiredMsg();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
function addRequiredMsg(){
    if ($('#fb-render').find("span.fb-required").length) {
        var firstGroup = $('#fb-render').find('.form-group').filter(':visible:first');
        if (firstGroup.length) {
            $("<div class='required'>● {%trans%}Required fields{%endtrans%}</div>").insertBefore(firstGroup);
        }
    }    
}
</script>
  
{% endblock %}
