{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="gngform" class="gngform">
            <div class="formIntroduction marked-up">
            {{ form.introductionText['html'] | safe }}
            </div>
            <div id='required_message' class='required' style="display:none">● {%trans%}Required fields{%endtrans%}</div>
            <form method="POST">
                {% if not g.embedded %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% endif %}
                <div id="fb-render"></div>
                {% if form.mightSendConfirmationEmail() %}
                <div id="sendConfirmation" class="sendConfirmation" >
                <input id="confirmation_checkbox" type="checkbox" name="sendConfirmation" value="ok" disabled />
                &nbsp;
                {%trans%}Send me confirmation by mail{%endtrans%} <span id='confirmation_email'></span>
                </div>
                {% endif %}                
                {% if form.isDataConsentRequired() %}
                    <div id="dataConsent" class="dataConsent">
                        <div class="dataConsentText">{{ form.dataConsentHTML|safe }}</div>
                        <div class="consent">
                            <input type="checkbox" name="DPL" value="ok" required />
                            &nbsp;
                            {%trans%}I agree{%endtrans%}
                            <span class="required formbuilder-required" style="font-size:1.2em">●</span>
                        </div>
                    </div>
                {% endif %}
                <input class="btn btn-lg btn-success" type="submit" value="{%trans%}Send{%endtrans%}">
            </form>
        </div>
    </div>
</div>
</div>

<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                postFormRender();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
{% with form=form %}
{% include '_post-render-scripts.js' %}
{% endwith %}
</script>

{% endblock %}
