<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if 'site' in g and g.site %}
  <title>{{ g.site.siteName }}</title>
  <link rel="shortcut icon" type="image/png" href="{{g.site.faviconURL()}}"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery-ui.min.js"></script>
  <script src="/static/bootstrap/popper.1.14.3.min.js"></script>
  <script src="/static/bootstrap/4.1/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/4.1/bootstrap.min.css">
    
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/gngforms.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

{% if 'current_user' in g and g.current_user %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-full" style="background-color:{{g.site.menuColor}}">
    
<div id="header" class="container">
    <div class="row">
        <div id="menu" class="col-md-12">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

        {% if 'site' in g and g.site %}
          <a class="navbar-brand" href="/"><img src="{{g.site.faviconURL()}}" /></a>
        {% endif %}
        {% if g.current_user.isRootUser() %}
            <a id="toggle_root_enable" class="nav-item nav-link" href="#!">
            {% if g.isRootUserEnabled %}
                <i class="fa fa-shield" style="color:red" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-shield" style="color:white" aria-hidden="true"></i>
            {% endif %}
            </a>
        {% endif %}
        {% if g.current_user.enabled %}
            {% if g.isAdmin %}
                <a class="nav-item nav-link" href="/admin/forms">{%trans%}Forms{%endtrans%}</a> 
                <a class="nav-item nav-link" href="/admin/users">{%trans%}Users{%endtrans%}</a>
            {% endif %}
            <a class="nav-item nav-link" href="/forms">{%trans%}My forms{%endtrans%}</a>
        {% endif %}
        <a class="nav-item nav-link" href="/user/{{ g.current_user.username }}">{%trans%}Settings{%endtrans%}</a>
        <a class="nav-item nav-link" href="/user/logout">{%trans%}Logout{%endtrans%}</a>
    </div>
  </div>
</nav>

        </div>
    </div>
</div>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} flash_message">
                {{ message | safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div id="main-content">
{% block content %}{% endblock %}
</div>

<p>&nbsp;</p>
<div id="footer" class="container-fluid">
    AGPLv3 <a href="https://gngforms.org">GNGforms</a>
</div>

{% if 'current_user' in g and g.current_user and g.current_user.isRootUser() %}
<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_root_enable').addEventListener('click', function(evt){
    evt.preventDefault();
    $.ajax({
        url : "/user/toggle-root-enabled",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            location.reload();
            return false;
        }
    });
});
</script>
{% endif %}

</body>
</html>
