<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GNGforms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/jquery-ui-sortable/jquery-ui.min.js"></script>
  <script src="/static/node_modules/formBuilder/dist/form-builder.min.js"></script>
  <script src="/static/node_modules/formBuilder/dist/form-render.min.js"></script>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<!-- menu -->

{% if 'username' in session and session['username'] %}

<div class="container" style="font-size:1.3em">
    <div class="row col-md-12">
        <a href="/">Start</a> | 

        {% if g.current_user.admin %}
        <a href="/admin/forms">List forms</a> | 
        <a href="/admin/users">List users</a> | 
        {% endif %}

        <a href="/forms">My forms</a> | 
        <a href="/user/{{ session['username'] }}">Settings</a> | 
        <a href="/site/logout">Logout</a>
    </div>
</div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages and request.path != '/login' %}
                {% for category, message in messages %}
                  <div class="{{ category }}">{{ message | safe }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

<p></p>
{% endif %}

<div style="margin-top:2em"></div>
{% block content %}{% endblock %}

</body>
</html>
