{% extends "base.html" %}
{% block content %}

<div style="margin: 0 0 1em 0; background-color:red;color:white">
    <span style="font-size:2em;padding:0.5em">List of forms</span>
</div>

<div class="container">
    <p>
    <input class="btn-primary btn" type="button" value="Download" onClick="location.href='/control/csv/{{ slug }}'">
    </p>

    <table class="table table-striped table-condensed">

    <thead>
        <tr>
        {% for fieldName in fieldNames %}
            <th>{{ fieldName }}</th>
        {% endfor %}
        </tr>
    </thead>

    {% for entry in entries %}
        <tr>
        {% for fieldName in fieldNames %}

            <td style="border-right: 1px solid #ccc;">{{ entry[fieldName] }}</td>

        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>

  
{% endblock %}
