{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">
        {%trans%}Delete site{%endtrans%}
    </div>
    <hr />
    <div>
        {%trans%}You are going to delete this Site{%endtrans%}.
        <br />
        {%trans%}Including{%endtrans%} ...
        <br />
        {{ site.totalUsers }} {%trans%}users{%endtrans%}
        <br />
        {{ site.totalForms }} {%trans%}forms{%endtrans%} + {%trans%}entries{%endtrans%}
        <p>&nbsp;</p>
        {%trans%}Write the name of the site below{%endtrans%}.
    </div>
    <p></p>
    <span style="font-size:1.15em">{{site.hostname}}</span>
    <p></p>
    
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="text" name="hostname" class="form-control" required ><br />
        <p></p>
        <input class="btn-danger btn" type="submit" value="{%trans%}Delete{%endtrans%}">
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/admin/sites/edit/{{site.hostname}}'">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>

  
{% endblock %}
