{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-builder.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">


<div class="container">
    <div class="row col-md-12">
        <div style="font-size:1.3em">{%trans%}1. Build your form here{%endtrans%}</div>
        <hr />
        <div id="fb-editor"></div>
    </div>
    
    <div class="row col-md-8">
        <p>&nbsp;</p>
        <form id="result" action="/forms/edit{% if session['slug'] %}/{{ session['slug'] }}{% endif %}" method="post" style="padding-bottom:0.5em;">

        
        <div style="font-size:1.3em">
            {%trans%}2. Say something to the user after the form has been submitted{%endtrans%}
        </div>
        <hr />
        {%trans%}This is a markdown editor, an easy way to write HTML.{%endtrans%}
        <a href="">{%trans%}Learn more{%endtrans%}</a>
        
        <textarea id="sm-editor" name="afterSubmitTextMD">{{ session['afterSubmitTextMD'] }}</textarea>
        <p></p>
        <div style="font-size:1.3em">
            {%trans%}3. Your form will have this address{%endtrans%}
        </div>
        <hr />
        
        <input type="hidden" id="structure" name="structure" />
        {{ request.url_root }}
        <input id="slug" name="slug" value="{{ session['slug'] }}" size="32" {% if isFormNew %}required{% else %}disabled{% endif %} />
        <input id="slug_not_available"  style="display:none"
                                        class="slug-alert btn btn-danger"
                                        type="button"
                                        value="{%trans%}This URL is not available. Try another!{%endtrans%}"
                                        />

        <input id="slug_changed" style="display:none" class="slug-alert btn btn-success" type="submit" value="{%trans%}OK, use this URL{%endtrans%}" />
        <br />
        <p>&nbsp;</p>
        
        <input class="btn-success btn" type="submit" value="{%trans%}Preview{%endtrans%}" />
        {% if isFormNew %}
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms'">
        {% else %}
        <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms/view/{{ session['slug'] }}'">
        {% endif %}
        
        </form>
    </div>
</div>

<script>
jQuery(function($) {
    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                element: $("#sm-editor")[0]
                             });

    const fbEditor = document.getElementById("fb-editor");
    
    var options = {
        showActionButtons: false,
        disableFields: {{ config['FORMBUILDER_DISABLE_FIELDS'] | tojson }},
        disabledAttrs: {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }},
        controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
        i18n: {
            locale: "es-ES",
            location: "{{request.host_url}}static/formBuilder-languages/"
            //extension: '.ext'
            //override: {
            //    'en-US': {...}
            //}
        },
        formData: {{ session['formStructure'] | tojson }}
    };
    const formBuilder = $(fbEditor).formBuilder(options);

    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        //var formStructure = formBuilder.actions.getData('json', true);
        //console.log(formStructure);
        if ( "{{ isFormNew }}" == "True" ){
            $.ajax({
                url : "/forms/check-slug-availability/"+$('#slug').val(),
                type: "POST",
                data : $('#slug').val(),
                dataType: "json",
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#structure').val(formBuilder.actions.getData('json', true));
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#slug_changed').show();
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
             
                }
            });
        }else{
            $('#structure').val(formBuilder.actions.getData('json', true));
            simplemde.toTextArea();
            $('#result').submit();
        }
    });
    document.getElementById('slug').addEventListener('click', function(evt){
        $('.slug-alert').hide(); 
    });
    document.getElementById('slug_not_available').addEventListener('click', function(evt){
        $('#slug').val('');
        $('#slug').focus();
        $('.slug-alert').hide(); 
    });
});
</script>
  
{% endblock %}
