{% extends "base.html" %}
{% block content %}



{% if g.current_user and g.current_user.isRootUser() %}
<script src="/static/node_modules/simplemde/dist/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/node_modules/simplemde/dist/simplemde.min.css">
{% endif %}


<div class="container">
<div class="row col-md-8">

    <div id="blurb">
        {{ blurb['html']|safe }}
        {% if isAdmin %}
        <p></p>
        <hr />
        <input class="btn-success btn" type="button" value="Edit text" onClick="js:showEditor();" />
        {% endif %}        
    </div>

    {% if isAdmin %}
    <form id="editor-form" action="/site/save-blurb" method="post" style="display:none">
    <textarea id="editor" name="editor">{{ blurb['markdown'] }}</textarea>
    </form>
    {% endif %}

</div>
<div class="row col-md-1"></div>
<div class="row col-md-3">

    <form action="/site/login" method="POST">
        <p>
        <label>Username or email</label><br />
        <input name="username" class="form-control" value="" />
        </p>
        <p>
        <label>Password</label><br />
        <input name="password" class="form-control" value="" />
        </p>
        <input class="btn-success btn" type="submit" value="Login" />
    </form>
    <br />
    <a href="/site/recover-password">Forgot your password?</a>
    <br />
    <a href="/user/new">Register new user</a>
    
</div>
<div class="row col-md-2">
</div>

{% if isAdmin %}
<script>
var toolbar = [
    {
        name: "custom",
        className: "fa fa-check-square",
        title: "Save",
        action: function customFunction(editor){
            save(editor);
        }
    },
    {
        name: "custom",
        className: "fa fa-window-close",
        title: "Cancel",
        action: function customFunction(editor){
            cancel(editor);
        }
    },
    "|",
    {
        name: "bold",
        action: SimpleMDE.toggleBold,
        className: "fa fa-bold",
        title: "Bold",
    }

];
var simplemde = new SimpleMDE({ toolbar: toolbar,
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                //initialValue: "",
                                element: $("#editor")[0]
                             });

function showEditor(){
    $('#blurb').hide();
    $('#editor-form').show();
    simplemde.value($("#editor").val())
}
function save(editor){
    $('#editor-form').hide();
    editor.toTextArea();
    $("#editor-form").submit();
}
function cancel(editor){
    editor = null;
    $('#editor-form').hide();
    $('#blurb').show();
}
</script>
{% endif %}


{% endblock %}
