{% extends "base.html" %}
{% block content %}


<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
    <div class="row col-md-6">
        <div style="font-size:1.5em;">
            {%trans%}The form{%endtrans%}
        </div> 
        <hr />
          
        <div id="fb-render"></div>
        <input class="btn-success btn" type="submit" value="{%trans%}Send{%endtrans%}" disabled />

        <p>&nbsp;</p>
        <div style="font-size:1.4em">
            {%trans%}Post submit text{%endtrans%}
        </div>
        <hr />
        <div>
        {{ form.afterSubmitText['html'] | safe }}
        </div>
        
    </div>
    <div class="row col-md-1"></div> 
    <div class="row col-md-5">
        <div style="font-size:1.5em">
            {%trans%}Form details{%endtrans%}
        </div>
        <hr />
        
        <table class="table table-striped table-condensed">
            <tr>
               <td>{%trans%}Name{%endtrans%}</td>
               <td>{{ form.slug }}</td>
            </tr>
            <tr>
               <td>{%trans%}Author{%endtrans%}</td>
               {% if g.isAdmin %}
                    <td><a href="/admin/users/id/{{ form.user._id }}">{{ form.user.username }}</a></td>
               {% else %}
                    <td>{{ form.user.username }}</td>
                {% endif %}
            </tr>
            <tr>
               <td>{%trans%}Created{%endtrans%}</td>
               <td>{{ form.created }}</td>
            </tr>
            {% if g.isRootUser %}
                <tr>
                   <td>{%trans%}Hostname{%endtrans%}</td>
                   <td>{{ form.hostname }}</td>
                </tr>
            {% endif %}
            <tr>
               <td>{%trans%}Is public{%endtrans%}</td>
               {% if form.author == g.current_user._id %}
               <td>
                   <div id="toggle_enabled" class="btn-group btn-toggle">
                    <button id="enabled_true" class="btn btn-xs btn-default {% if form.enabled %}active btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="enabled_false" class="btn btn-xs btn-default {% if not form.enabled %}active btn-danger{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
               </td>
               {% else %}
               <td>
                    {% if not form.user.enabled and form.enabled %}
                        <span style="text-decoration: line-through">{{ form.enabled }}</span>
                        <span style="color:red">({%trans%}user disabled{%endtrans%})</span>
                    {% else %}
                        {{ form.enabled }}
                    {% endif %}
               </td>               
               {% endif %}
            </tr>
            <tr>
               <td>{%trans%}Public URL{%endtrans%}</td>
               <td>
                   {% if form.isPublic() %}
                   <a id="formLink" href="{{ form.url }}">{{ form.url }}</a>
                   <span id="formURL" style="display:none">{{ form.url }}</span>
                   {% else %}
                   <a id="formLink" href="{{ form.url }}" style="display:none">{{ form.url }}</a>
                   <span id="formURL">{{ form.url }}</span>
                   {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Nº of entries{%endtrans%}</td>
               <td>{{ form.totalEntries }}</td>
            </tr>
            <tr>
               <td>{%trans%}Last entry{%endtrans%}</td>
               <td>{{ form.lastEntryDate }}</td>
            </tr>
            <tr>
               <td>{%trans%}Share results{%endtrans%}</td>
               <td>
                   {% if form.author == g.current_user._id %}
                        <a href="/forms/entries/{{ form._id }}">{{ form.areEntriesShared() }}</a>
                   {% else %}
                        {{ form.areEntriesShared() }}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Notify me{%endtrans%}</td>
               {% if form.author == g.current_user._id %}
               <td>
                   <div id="toggle_notification" class="btn-group btn-toggle">
                    <button id="notification_true" class="btn btn-xs btn-default {% if form.notification['newEntry'] %}active btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="notification_false" class="btn btn-xs btn-default {% if not form.notification['newEntry'] %}active btn-danger{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
               </td>
               {% else %}
                    <td>{{ form.notification['newEntry'] }}</td>               
               {% endif %}
            </tr>
        </table>
        {% if form.author == g.current_user._id %}
        <hr />
        <input class="btn-success btn btn-sm" type="button" value="{%trans%}View entries{%endtrans%}" onClick="location.href='/forms/entries/{{ form._id }}'">
        <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Edit form{%endtrans%}" onClick="location.href='/forms/edit/{{ form._id }}'">
        <p></p>
            {% if form.totalEntries == 0 %}
            <input class="btn-danger btn btn-sm" type="button" value="{%trans%}Delete form{%endtrans%}" onClick="location.href='/forms/delete/{{ form._id }}'">
            {% else %}
            <input class="btn-danger btn btn-sm" type="button" value="{%trans%}Delete form and entries{%endtrans%}" onClick="location.href='/forms/delete/{{ form._id }}'">
            {% endif %}
        {% endif %}
    </div>
</div>


<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | safe }};
    var formRenderOpts = {
        formData,
        dataType: 'json'
    };
    $(fbRender).formRender(formRenderOpts);
});
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-enabled/{{ form._id }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('active  btn-success');
                $('#enabled_false').removeClass('active btn-danger');
                $('#formURL').hide();
                $('#formLink').show();
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('active btn-success');
                $('#enabled_false').addClass('active btn-danger');
                $('#formURL').show();
                $('#formLink').hide();
            }
        }
    });
});
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-notification/{{ form._id }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('active  btn-success');
                $('#notification_false').removeClass('active btn-danger');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('active btn-success');
                $('#notification_false').addClass('active btn-danger');
            }
        }
    });
});
</script>
  
{% endblock %}
