{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row col-md-6">
        <div style="font-size:1.5em;">The form</div> 
        <hr />
          
        <div id="fb-render"></div>
        <input class="btn-success btn" type="submit" value="Send" disabled />
    </div>
    <div class="row col-md-1"></div> 
    <div class="row col-md-5">
        <div style="font-size:1.5em">Form details</div>
        <hr />
        
        <table class="table table-striped table-condensed">
            <tr>
               <td>Author</td>
               {% if g.current_user.admin %}
                    <td><a href="/admin/users/{{ form.author }}">{{ form.author }}</a></td>
               {% else %}
                    <td>{{ form.author }}</td>
                {% endif %}
            </tr>
            <tr>
               <td>Created</td>
               <td>{{ created }}</td>
            </tr>
            <tr>
               <td>Num of entries</td>
               <td>{{ total_entries }}</td>
            </tr>
            <tr>
               <td>Last entry</td>
               <td>{{ last_entry_date }}</td>
            </tr>
            <tr>
               <td>URL</td>
               <td>
                   {% if form.enabled and userEnabled %}
                   <a id="formLink" href="{{ formURL }}">{{ formURL }}</a>
                   <span id="formURL" style="display:none">{{ formURL }}</span>
                   {% else %}
                   <a id="formLink" href="{{ formURL }}" style="display:none">{{ formURL }}</a>
                   <span id="formURL">{{ formURL }}</span>
                   {% endif %}
                </td>
            </tr>
            <tr>
               <td>Is public</td>
               {% if form.author == g.current_user.username %}
               <td>
                   <div id="toggle_enabled" class="btn-group btn-toggle">
                    <button id="enabled_true" class="btn btn-xs btn-default {% if form.enabled %}active btn-success{% endif %}">True</button>
                    <button id="enabled_false" class="btn btn-xs btn-default {% if not form.enabled %}active btn-danger{% endif %}">False</button>
                   </div>
               </td>
               {% else %}
               <td>
                    {% if not userEnabled and form.enabled %}
                        <span style="text-decoration: line-through">{{ form.enabled }}</span>
                        <span style="color:red">(user disabled)</span>
                    {% else %}
                        {{ form.enabled }}
                    {% endif %}
               </td>               
               {% endif %}
            </tr>

        </table>
        {% if form.author == g.current_user.username %}
        <form action="/forms/delete/{{ slug }}" method="post">
            <input class="btn-success btn" type="button" value="View form data" onClick="location.href='/forms/view-data/{{ slug }}'">
            <input class="btn-primary btn" type="button" value="Edit form" onClick="location.href='/forms/edit/{{ slug }}'">
            <input class="btn-warning btn" type="submit" value="Delete form and data">
        </form>
        {% endif %}
    </div>
</div>


<script>
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render');
        var formData = {{ formStructure | safe }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
        //$('#fb-render :input').prop('disabled', true);
    });
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/forms/toggle-enabled/{{ slug }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('active  btn-success');
                $('#enabled_false').removeClass('active btn-danger');
                $('#formURL').hide();
                $('#formLink').show();
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('active btn-success');
                $('#enabled_false').addClass('active btn-danger');
                $('#formURL').show();
                $('#formLink').hide();
            }
        }
    });
});
</script>
  
{% endblock %}
