{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">
    <div class="row col-md-11" style="font-size:1.5em">
    {{ form.slug }}
    <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Form details{%endtrans%}" onClick="location.href='/forms/view/{{ form._id }}'">
    <input class="btn-success btn btn-sm" type="button" value="{%trans%}Download CSV{%endtrans%}" onClick="location.href='/forms/csv/{{ form._id }}'">
    </div>
    
    <div class="row col-md-1">
    <input class="btn-danger btn btn-sm" type="button" value="{%trans%}Delete{%endtrans%} {{ form.totalEntries }} {%trans%}entries{%endtrans%}" onClick="location.href='/forms/delete-entries/{{ form._id }}'" {% if not form.totalEntries %}disabled{%endif%} >
    </div>
</div>

<div class="container">
    <hr style="margin-bottom:5px" />
    <div class="row col-md-12">

    {%trans%}Share results{%endtrans%}
    <span id="toggle_sharedEntries" class="btn-group btn-toggle">
        <button id="sharedEntries_true" class="btn btn-xs btn-default {% if form.areEntriesShared() %}active btn-success{% endif %}">{%trans%}Enabled{%endtrans%}</button>
        <button id="sharedEntries_false" class="btn btn-xs btn-default {% if not form.areEntriesShared() %}active btn-success{% endif %}">{%trans%}Disabled{%endtrans%}</button>
    </span>
    <a id="enabled_link" href="{{ form.getSharedEntriesURL() }}" {%if not form.areEntriesShared()%}style="display:None"{%endif%}>{{ form.getSharedEntriesURL() }}</a>
    <span id="disabled_link" style="text-decoration:line-through; {%if form.areEntriesShared()%}display:None{%endif%}" >{{ form.getSharedEntriesURL() }}</span>

    </div>
</div>

<div class="container">
    <p>&nbsp;</p>

    <table id="formEntries" class="table table-striped table-condensed">
    <thead>
        <tr>
        <th>#</th>
        {% for field in fieldIndex %}
            <th>{{ field['label'] }}</th>
        {% endfor %}
        </tr>
    </thead>

    {% for entry in form.entries %}
        <tr>
        <td style="border-right: 1px solid #ccc;">{{ loop.index }}</td>
        {% for field in fieldIndex  %}

            <td class="{{ fieldName }}" style="border-right: 1px solid #ccc;">{{ entry[field['name']] }}</td>

        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>

<script>
$(document).ready(function() {
    $('#formEntries').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        }
    });
});
document.getElementById('toggle_sharedEntries').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-shared-entries/{{ form._id }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#sharedEntries_true').addClass('active  btn-success');
                $('#sharedEntries_false').removeClass('active btn-success');
                $('#enabled_link').show()
                $('#disabled_link').hide()
            }
            else if (data.enabled == false) {
                $('#sharedEntries_true').removeClass('active btn-success');
                $('#sharedEntries_false').addClass('active btn-success');
                $('#enabled_link').hide()
                $('#disabled_link').show()
            }
        }
    });
});
</script>
  
{% endblock %}
