{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

<style>
.table td:first-child {
    text-align: center;
}​
</style>

<div class="container">
    <div class="row col-md-9" style="font-size:1.5em">
    <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Form details{%endtrans%}" onClick="location.href='/forms/view/{{ form._id }}'">
    {{ form.slug }}
    </div>
    
    <div class="row col-md-3" style="text-align:right">
    <input class="btn-primary btn btn-sm" type="button" value="{%trans%}Download CSV{%endtrans%}" onClick="location.href='/forms/csv/{{ form._id }}'">
    <input class="btn-danger btn btn-sm" type="button" value="{%trans%}Delete all entries{%endtrans%}" onClick="location.href='/forms/delete-entries/{{ form._id }}'" {% if not form.totalEntries %}disabled{%endif%} >
    </div>
</div>

<div class="container">
    <hr style="margin-bottom:5px" />
    
    {% if form.editors[g.current_user._id|string] is defined %}
        <div id="toggle_notification" class="btn-group btn-toggle">
            <button id="notification_true" class="btn btn-xs btn-default {% if form.data.editors[g.current_user._id|string]['notification']['newEntry'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
            <button id="notification_false" class="btn btn-xs btn-default {% if not form.data.editors[g.current_user._id|string]['notification']['newEntry'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
        </div>
        {%trans%}Notify me on each new entry{%endtrans%}
    {% endif %}
    
    <p>&nbsp;</p>

    <table id="formEntries" style="display:none" class="table table-striped table-condensed">
    <thead>
        <tr>
        <th></th>
        {% for field in fieldIndex %}
            <th>{{ field['label'] }}</th>
        {% endfor %}
        </tr>
    </thead>

    <!-- Keep the data TD on one line! -->
    {% for entry in form.entries %}
    <tr>
        <td style="border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
            <i class="fa fa-ban delete-row" aria-hidden="true"></i>
        </td>
        {% for field in fieldIndex %}
            <td style="border-right: 1px solid #ccc;">{{ entry[field['name']] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>

{% if form.editors[g.current_user._id|string] is defined %}
<script>
var csrftoken = "{{ csrf_token() }}";
var fieldIndex={{fieldIndex|tojson}};

function getFieldValueInRow(fieldName, $row){
    var arrayLength = fieldIndex.length;
    for (var loop = 0; loop < arrayLength; loop++) {
        if (fieldIndex[loop]["name"] == fieldName) {
            return $row.children('td').eq(loop+1).html()
        }   
    }
    return null;
}
function getRowData($row) {
    var rowData = new Array();
    var arrayLength = fieldIndex.length;
    for (var loop = 0; loop < arrayLength; loop++) {      
        rowData.push({"name": fieldIndex[loop]["name"], "value": $row.children('td').eq(loop+1).html()})
    }
    return rowData;
}
$(document).ready(function() {
    $('#formEntries').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#formEntries").show();
        },
        "order": [[1, 'desc']],
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ]
    });
    $('.delete-row').attr('title', "{%trans%}Delete entry{%endtrans%}");
});
$('#formEntries tbody').on('click', '.delete-row', function () {
    var $row=$(this).parents('tr');
    $.ajax({
        url : "/forms/delete-entry/{{ form._id }}",
        type: "POST",
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({"created": getFieldValueInRow("created", $row)}),
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.deleted == true) {
                $row.children(':not(:first-child)').addClass('deleted-row');
                $row.children('td').eq(0).html('<i class="fa fa-undo undo-delete-row" aria-hidden="true"></i>');
            }
        }
    });
});
$('#formEntries tbody').on('click', '.undo-delete-row', function () {
    var $row = $(this).parents('tr');
    $.ajax({
        url : "/forms/undo-delete-entry/{{ form._id }}",
        type: "POST",
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(getRowData($row)),
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.undone == true) {
                $row.children(':not(:first-child)').removeClass('deleted-row');
                $row.children('td').eq(0).html('<i class="fa fa-ban delete-row" aria-hidden="true"></i>');
            }
        }
    });
});
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-notification/{{ form._id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
</script>
{% endif %}

{% endblock %}
