{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">

    <div style="font-size:1.5em">
        {%trans%}Users{%endtrans%}
    </div>
    <hr />

<table id="users" style="display:none" class="table table-striped table-condensed">
<thead>
    <tr>
        <th>{%trans%}Username{%endtrans%}</th>
        
        {% if g.isRootUser %}
            <th>{%trans%}Hostname{%endtrans%}</th>
        {% endif %}
        
        <th>{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Enabled{%endtrans%}</th>
        <th>{%trans%}Email{%endtrans%}</th>
        <th>{%trans%}Forms{%endtrans%}</th>
        <th>{%trans%}Is Admin{%endtrans%}</th>
    </tr>
</thead>
{% for user in users %}
<tr>
    <td><a href="/admin/users/{{user._id}}">{{user.username}}</a></td>
    {% if g.isRootUser %}
        <td>{{user.hostname}}</td>
    {% endif %}
    <td>{{user.data.created}}</td>
    <td>{{user.enabled}}</td>
    <td>{{user.email}}</td>
    <td>{{user.forms.count()}}</td>
    <td>{{user.isAdmin()}}</td>
</tr>
{% endfor %}
</table>

</div>

<script>
$(document).ready(function() {
    $('#users').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#users").show();
        }
    });
} );
</script>
  
{% endblock %}
