{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">
    <div class="row col-md-11" style="font-size:1.5em">
    <input class="btn-primary btn" type="button" value="{%trans%}Return to form{%endtrans%}" onClick="location.href='/forms/view/{{ form._id }}'">
    <input class="btn-success btn" type="button" value="{%trans%}Download CSV{%endtrans%}" onClick="location.href='/forms/csv/{{ form._id }}'">
    </div>
    
    <div class="row col-md-1">
    {% if form.totalEntries > 0 %}
    <input class="btn-danger btn" type="button" value="{%trans%}Delete entries{%endtrans%}" onClick="location.href='/forms/delete-entries/{{ form._id }}'">
    {% endif %}
    </div>
</div>

<div class="container">
    <hr />

    <table id="formEntries" class="table table-striped table-condensed">
    <thead>
        <tr>
        <th>#</th>
        {% for field in fieldIndex %}
            <th>{{ field['label'] }}</th>
        {% endfor %}
        </tr>
    </thead>

    {% for entry in form.entries %}
        <tr>
        <td style="border-right: 1px solid #ccc;">{{ loop.index }}</td>
        {% for field in fieldIndex  %}

            <td class="{{ fieldName }}" style="border-right: 1px solid #ccc;">{{ entry[field['name']] }}</td>

        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>

<script>
$(document).ready(function() {
    $('#formEntries').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        }
    });
});

</script>
  
{% endblock %}
