{% extends "base.html" %}
{% block content %}

<script src="/static/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css">


<div style="margin: 0 0 1em 0; background-color:red;color:white">
    <span style="font-size:2em;padding:0.5em">My forms</span>
</div>

<div class="container">
<p>
<input class="btn-primary btn" type="button" value="New form" onClick="location.href='/forms/new'">
</p>

<table id="forms" class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>name</th>
        <th>created</th>
        <th>entries</th>
        <th>Public</th>
        <th></th>
    </tr>
</thead>
{% for form in forms %}
<tr>
   <td>{{form.slug}}</td>
   <td>{{form.created}}</td>
   <td>{{form.entries|length}}</td>
   <td>{{form.enabled}}</td>
   <td>
   <a href="/forms/{{form.slug}}">admin</a>
   </td>
</tr>
{% endfor %}
</table>

</div>


<script>
$(document).ready(function() {
    $('#forms').DataTable();
} );

</script>
  
{% endblock %}
