{% extends "base.html" %}
{% block content %}


{% if not created %}
<div class="container">
    <div class="row col-md-4"></div>
    <div class="row col-md-4">
    
    <div style="font-size:1.5em">
        {%trans%}New user{%endtrans%}
    </div>
    <hr />
    
    <form method="POST">
        <label>{%trans%}Username{%endtrans%}</label><br />
            <input type="text" name="username" class="form-control" placeholder="{%trans%}Letters and numbers. No accents.{%endtrans%}" required >
            <br />

        <label>{%trans%}Email{%endtrans%}</label><br />
            <input type="text" name="email" class="form-control" required ><br />
            <br />

        <label>{%trans%}Password{%endtrans%}</label><br />
            {%trans%}Use a passphrase, with spaces{%endtrans%}<br />
            <input type="text" name="password1" class="form-control" placeholder="{%trans%}eg: No holidays this year{%endtrans%}" required ><br />

        <label>Password again</label><br />
            <input type="text" name="password2" class="form-control" placeholder="{%trans%}Another eg: My dog has fleas{%endtrans%}" required ><br />

    <p></p>
    <input class="btn-success btn" type="submit" value="{%trans%}Submit{%endtrans%}">
    <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onclick="window.location.href='/';">
    </form>
    
    </div>
    <div class="row col-md-4"></div>
    
</div>
{% else %}

<h1>User created OK!</h1>
<h2>We sent you an email</h2>

{% endif %}


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
