{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">Send a new user invitation</div>
    <hr />

    <p></p>
    <form method="POST">
        <label>New user's email</label>
        <br />
        <input type="text" name="email" class="form-control" required >
        <br />
        <label>Include message</label>
        <br />
        <textarea name="message" class="form-control" ></textarea>
        <p></p>
        <input class="btn-success btn" type="submit" value="Submit">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
