{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
    <b>Form URL</b> <input value="{{ formURL }}" size="50" disabled >
    <br />
    <div id="fb-render"></div>
        
    <form action="/forms/save/{{ slug }}" method="post">    
        <input class="btn-primary btn" type="button" value="Edit" onClick="location.href='/forms/edit/{{ slug }}'">
        <input class="btn-success btn" type="submit" value="Save">
    </form>
    </div>
</div>


<script>
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render');
        var formData = {{ formStructure | safe }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
    });
</script>
  
{% endblock %}
