{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-5"></div>
    
<div class="row col-md-4">

    <div style="font-size: 1.2em">Recover password</div>
    <form method="POST">
        <label>email</label>
        <br />
        <input type="text" name="email" required ><br />
        <p></p>
        <input class="btn-success btn" type="submit" value="Submit">
    </form>

</div>

<div class="row col-md-3"></div>    
</div>


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
