{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-5"></div>
    
<div class="row col-md-4">
    <form method="POST">
        <label>Password</label><br />
        Use a passphrase, with spaces.<br />
        eg: No holidays this year
        <br />
        <input type="text" name="password1" required ><br />

        <label>Password again</label><br />
        <input type="text" name="password2" required ><br />

        <p></p>
        <input class="btn-success btn" type="submit" value="Submit">
    </form>
</div>

<div class="row col-md-3"></div>    
</div>


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
