<mjml>
  <mj-body background-color="#ffffff" font-size="13px">
    <mj-section background-color="#ffffff" padding-bottom="0px" padding-top="0">
      <mj-column vertical-align="top" width="100%">
        <mj-image src="{{ header_image_url }}" alt="" align="center" border="none" width="600px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="left" color="#333333" font-size="28px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">
          {{ body }}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20">
      <mj-column vertical-align="middle" width="100%">
        <mj-button href="{{ button_link }}" align="center" font-size="22px" font-weight="bold" background-color="{{primary_color}}" border-radius="10px" color="#ffffff" font-family="open Sans Helvetica, Arial, sans-serif">
          {{ button_text }}
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="10">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="center" color="#333333" font-size="18px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">
          {{ footer }}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
