<!-- Modal -->
<style>
  .form-text { margin-top:0; }
  .mediaThumbnail { cursor: pointer; }
</style>

<div class="modal fade"
     id="insert_image_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="insert_image_modalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="insert_image_modalLabel">
          {{trans}}Insert image{{endtrans}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="{{trans}}Cancel{{endtrans}}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="insert_image_form" enctype="multipart/form-data">
          <div class="form-group">
            <label for="image_alt_text">
              {{trans}}Alternative text{{endtrans}}
            </label>
            <br />
            <span class="hint">
              {{trans}}Describe the image. This helps people with visual challenges.{{endtrans}}
            </span>
            <input type="text"
                  class="form-control"
                  id="image_alt_text"
                  aria-describedby="imageAltTextHelp"
                  placeholder="{{trans}}A photo of a horse galloping on the beach{{endtrans}}" />
          </div>

          <div class="form-group">
            <label for="image_url">
              {{trans}}Image URL{{endtrans}}
            </label>
            <br />
            <span class="hint">
              {{trans}}Use an image already available on the Internet.{{endtrans}}
            </span>
            <input type="url"
                  class="form-control"
                  id="image_url"
                  placeholder="https://" />
          </div>
          {% if config['ENABLE_UPLOADS'] == True %}
            <div class="form-group">
              <label for="new_image_file">
                {{trans}}Or upload a new image{{endtrans}}
              </label>
              <input type="file"
                     class="form-control-file"
                     id="new_image_file">
              <span id="new_image_file_error"
                    class="help-block"
                    style="color:#B94A48; display:none">
                {{trans}}The file is not an image.{{endtrans}}
              </span>
            </div>
            <div >
              <button id="imageModalSaveButton"
                      type="submit"
                      class="btn btn-success">
                  {{trans}}Insert{{endtrans}}
              </button>
              <button type="button"
                      class="btn btn-primary"
                      data-dismiss="modal">
                  {{trans}}Cancel{{endtrans}}
              </button>
            </div>
            {% if g.current_user.media.count() %}
            <div style="margin-top:2em;">
              <label>
              {{trans}}Optionally, reuse one of your previous images{{endtrans}}
              </label>
              <div id="media_list">
                {% for image in g.current_user.media %}
                  <img src="{{image.get_thumbnail_url()}}"
                       class="mediaThumbnail"
                       alt="{{image.alt_text}}"
                       title="{{image.alt_text}}"
                       media_id="{{image.id}}" />
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<script>
jQuery(function($) {
  $("#insert_image_form").on('change', '#new_image_file', function(){
    $('#new_image_file_error').hide()
  });
  $(".mediaThumbnail").on("click", function() {
    var media_id = $(this).attr("media_id")
    $.ajax({
        url : "/media/get-values/"+media_id,
        type: "GET",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data !== false) {
              $('#image_alt_text').val(data.alt_text);
              $('#image_url').val(data.image_url);
              $('#new_image_file').val('');
              $('#insert_image_form').submit()
            }
        }
    });
  });
});
</script>
