{% extends "base.html" %}
{% block content %}

<!-- edit_form_page -->

<script src="/static/formBuilder/form-builder.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">

{% if config['ENABLE_UPLOADS'] == True %}
{% include '_image-modal.html' %}
{% endif %}

<div class="container">

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="title_1 delimited">
        {% if session['form_id'] %}
            <a class="btn btn-primary btn-sm"
               role="button"
               href="/forms/view/{{session['form_id']}}">
                {%trans%}Return to form{%endtrans%}
            </a>
            {{ session['slug'] }}
        {% else %}
            {%trans%}Build your form here{%endtrans%}
        {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="title_2">
            1. {%trans%}Introduction text{%endtrans%}
        </div>

        {%trans%}This is a markdown editor, an easy way to write HTML.{%endtrans%}
        <a href="https://www.markdownguide.org/basic-syntax"
           target="_blank">
           {%trans%}Learn more{%endtrans%}
        </a>
        <textarea id="introduction-editor">{{ session['introductionTextMD'] }}</textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="title_2 delimited">
            2. {%trans%}The form{%endtrans%}
        </div>
        <div id="fb-editor"></div>
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <form id="result" method="POST" action="/forms/edit{% if session['form_id'] %}/{{ session['form_id'] }}{% endif %}" >
            <input type="hidden"
                   name="csrf_token"
                   value="{{ csrf_token() }}" />
            <input type="hidden"
                   id="structure"
                   name="structure" />
            <input id="introduction-text"
                   type="hidden"
                   name="introductionTextMD" />

        {% if not session['form_id'] %}
            <div class="title_2 delimited">
                3. {%trans%}Your form will have this address{%endtrans%}
            </div>

            <div class="input-group mb-3 input-group"
                 style="margin-bottom: 0 !important;">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="hostname-addon">
                  {{host_url}}
                </span>
              </div>
              <input  id="slug"
                      value="{{ session['slug'] }}"
                      type="text"
                      class="form-control"
                      name="slug"
                      aria-label="Slug"
                      aria-describedby="hostname-addon"
                      {% if session['form_id'] %}disabled{% else %}required{% endif %}
              />
            </div>
            <div id="slug_not_available"
                 class="formError"
                 style="display:none">
              {%trans%}This URL is not available. Try another!{%endtrans%}
            </div>
        {% endif %}

            <div class="form-actions">
            <input id="preview_form"
                   class="btn-success btn"
                   type="submit"
                   value="{%trans%}Preview{%endtrans%}" />
            {% if session['form_id'] %}
                <button id="save_form"
                        class="btn btn-success">
                    {%trans%}Save{%endtrans%}
                </button>
                <a class="btn btn-primary"
                   role="button"
                   href="/forms/view/{{session['form_id']}}">
                  {%trans%}Cancel{%endtrans%}
                </a>
            {% else %}
                <a class="btn btn-primary"
                   role="button"
                   href="/forms">
                   {%trans%}Cancel{%endtrans%}
                </a>
            {% endif %}
            </div>
        </form>
    </div>
</div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
  var toolbar = [
      "bold",
      "italic",
      "heading",
      "|", // Separator
      "quote",
      "unordered-list",
      "ordered-list",
      "|", // Separator
      "link",
  		{
  			name: "custom",
  			action: function customImage(editor){
          $('#image_url').val('');
          $('#image_alt_text').val('');
          $('#new_image_file').val('');
  				$('#insert_image_modal').modal('show');
  			},
  			className: "fa fa-picture-o",
  			title: "Image",
  		},
  		"|", // Separator
      "preview",
      "side-by-side",
      "fullscreen",
      "|", // Separator
      "guide",
  	];
    var introduction_mde = new SimpleMDE({
                                toolbar: toolbar,
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#introduction-editor")[0]
                             });

    const fbEditor = document.getElementById("fb-editor");
    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    disabledAttrs.push("name");
    var disabledFields = {{ config['FORMBUILDER_DISABLED_FIELDS'] | tojson }}
    if ({{ g.current_user.get_uploads_enabled() | tojson }} !== true) {
      disabledFields.push("file");
    }
    var options = {
        showActionButtons: false,
        disableFields: disabledFields,
        disabledAttrs: disabledAttrs,
        controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
        i18n: {
            locale: "{{ config['LANGUAGES'][g.current_user.language][1] }}",
            location: "{{host_url}}static/formBuilder-languages/"
        },
        layoutTemplates: {
            default: function(field, label, help, data) {
                if (help) {
                    label=$("<span class='label-description'></span>");
                    label.append(help.attributes.tooltip.textContent)
                }else{
                    label=$("<span style='display:none'></span>");
                }
                return $('<div/>').append(label, field, help);
            }
        },
        formData: {{ session['formStructure'] | tojson }}
    };
    const formBuilder = render_fbEditor(fbEditor, options)

    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        loadFieldsWithValues();
        if ( {{ session['form_id'] | tojson }} == null ){
            $.ajax({
                url : "/forms/check-slug-availability",
                type: "POST",
                data : {'slug': $('#slug').val()},
                dataType: "json",
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#preview_form').val("{%trans%}OK, use this URL{%endtrans%}");
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                }
            });
        }else{
            $('#result').submit();
        }
    });
    {% if not session['form_id'] %}
    document.getElementById('slug').addEventListener('click', function(evt){
        $('#slug_not_available').hide();
        $('#preview_form').val("{%trans%}Preview{%endtrans%}");
    });
    {% else %}
    document.getElementById('save_form').addEventListener('click', function(evt){
        loadFieldsWithValues()
        document.getElementById("result").action = "/forms/save/{{ session['form_id'] }}";
        document.getElementById("result").submit();
    });
    {% endif %}
    function loadFieldsWithValues(){
        $('#structure').val(formBuilder.actions.getData('json', true));
        $("#introduction-text").val(introduction_mde.value());
    }
    function insertImage() {
      $('#insert_image_modal').modal('hide');
      var image_url = $('#image_url').val();
      //$('#image_url').val('');
      if (image_url === '') {
        image_url = 'https://'
      }
      var image_alt_text = $('#image_alt_text').val();
      //$('#image_alt_text').val('');
      var image = '\n\r!['+image_alt_text+']('+image_url+')\n\r';
      pos = introduction_mde.codemirror.getCursor();
      introduction_mde.codemirror.replaceRange(image, pos);
    }
    $('#insert_image_form').submit(function(event) {
      event.preventDefault();
      {% if config['ENABLE_UPLOADS'] == True %}
      var formFields = document.getElementById('insert_image_form').elements;
      console.log(formFields['new_image_file'].files.length)
      if (formFields['new_image_file'].files.length > 0) {
        var file = formFields['new_image_file'].files[0];
        if (!file.type.match('image.*')) {
          $('#new_image_file_error').show()
          return;
        } else {
          $('#new_image_file_error').hide()
        }
        var form_data = new FormData();
        form_data.append('file', file);
        form_data.append('alt_text', $('#image_alt_text').val());
        console.log(form_data)
        $.ajax({
            url : "/media/save",
            type: "POST",
            //enctype: 'multipart/form-data',
            data : form_data,
            //dataType: "json",
            processData: false,
            contentType: false,
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
            },
            success: function(data, textStatus, jqXHR)
            {
              $('#image_url').val(data.image_url);
              insertImage();
            }
        });
      } else {
        insertImage();
      }
      {% else %}
      insertImage();
      {% endif %}
    });
});
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
function render_fbEditor(fbEditor, options) {
  var builder = $(fbEditor).formBuilder(options);
  sleep(1000).then(() => { // give formbuilder time to render
  {% for field in multichoiceOptionsWithSavedData %}
    {% for value in multichoiceOptionsWithSavedData[field] %}
    field = $('input[name="{{field}}-option"][class="option-value"][value="{{value}}"]')
    field.prop("disabled", true)
    field.prop("title", "{%trans%}Cannot modify because a response with this value exists in the database{%endtrans%}")
    {% endfor %}
  {% endfor %}
  });
  return builder
}

// enable the user to uncheck radio buttons
$("#fb-editor").on("click", "input[type=radio]", function (event) {
    if ($(this).closest(".formbuilder-radio") !== undefined) {
        var check = $(this).attr('checked')
        if (check) {
            $(this).removeAttr('checked').prop('checked',false)
        } else {
            $(this).attr('checked', true).prop('checked',true)
        }
    }
});
</script>

{% endblock %}
