{% extends "base.html" %}
{% block content %}

<!-- form_expiration_page -->

<script src="/static/simplemde/simplemde.min.js"></script>
<script src="/static/jquery/jquery.color-2.1.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <div class="returnToForm">
      <a class="btn btn-primary btn-sm"
         role="button"
         href="/forms/view/{{form.id}}">
        {%trans%}Return to form{%endtrans%}
      </a>
      {{ form.slug }}
    </div>

    <div class="row">
      <div class="col">
        <div id="toggle_notification" class="btn-group btn-toggle">
          <button id="notification_true"
                  class="btn btn-sm btn-default
                  {% if form.editors[g.current_user.id|string]['notification']['expiredForm'] %}
                  btn-success
                  {% endif %}">
            {%trans%}True{%endtrans%}
          </button>
          <button id="notification_false"
                  class="btn btn-sm btn-default
                  {% if not form.editors[g.current_user.id|string]['notification']['expiredForm'] %}
                  btn-primary
                  {% endif %}">
            {%trans%}False{%endtrans%}
          </button>
        </div>
        {%trans%}Notify me when this form expires{%endtrans%}
      </div>
      <div class="col-auto">
        <span id="expired_alert"
              {%if not form.expired%}style="display:none;"{%endif%}>
          <i class="fa fa-exclamation-circle highlightedText" aria-hidden="true"></i>
          {%trans%}Expired{%endtrans%}
        </span>
      </div>
    </div>
    <p>&nbsp;</p>

    <div class="title_1">
        {%trans%}Expiration conditions{%endtrans%}
    </div>

    <div class="title_2">
        {%trans%}Date / Time{%endtrans%}
    </div>

    <form id="date-form" method="POST" style="padding:0.5em">
      <div class="row">
        <div class="col-auto">
          <input type="hidden"
                 name="csrf_token"
                 value="{{ csrf_token() }}" />
          <input id="date"
                 name="date"
                 type="date"
                 class="form-control"
                 onchange="js:dateSet(event);">
          <div class="mr-2"></div>
        </div>
        <div class="col">
            <input id="time" name="time" type="time" class="form-control">
        </div>
        <div class="col-auto">
            <input  id="date-button"
                    class="btn btn-success float-right"
                    type="submit" value="{%trans%}Save changes{%endtrans%}" />
        </div>
      </div>
      <span id="date-form-error" class="formError" style="display:none;"></span>
    </form>
    </div>
</div>
{% if form.get_available_number_type_fields() %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <div class="title_2" style="margin-top:1em">
            {%trans%}Number fields{%endtrans%}
        </div>

        {% for field_name, values in form.get_available_number_type_fields().items() %}
            {% set field_label = form.get_field_label(field_name) %}
            {# i18n: Applies to 'Number' fields. Form will expire when the sum of values between all answers to this field in this form reaches the specified value. For example, if you set expiration condition to value=5 on this number field, if you receive 2 answers that ask on this field for 2 and 3, the form will expire. #}
            {% set placeholder=_("The sum of all the answers to '%s'" % field_label) %}

            <div class="input-group input-group-sm mb-3 flex-nowrap"
                 style="padding:0.5em;">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="addon-{{field_name}}">
                  {{ field_label }}
                </span>
              </div>
              <input    id="{{field_name}}" type="number" class="form-control pl-sm-3 condition"
                        value="{{values.condition}}"
                        aria-label="{{ form.get_field_label(field_name) }}"
                        aria-describedby="addon-{{field_label}}"
                        placeholder="{{ placeholder }}">
              <div class="input-group-append">
                <input  id="button-{{field_name}}"
                        class="btn btn-success"
                        type="button" value="{%trans%}Save max.{%endtrans%}"
                        onClick="js:setMaxValue('{{field_name}}');" />
              </div>
            </div>
        {%endfor %}
        </div>
    </div>
{% endif %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

      <div class="title_2" style="margin-top:1em">
          {%trans%}Maximum answers{%endtrans%}
      </div>
        <div class="input-group input-group-sm mb-3 flex-nowrap"
             style="padding:0.5em;">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="addon-total-answers">
                {%trans%}The form will expire after{%endtrans%}
            </span>
          </div>
          {% set total_answers = form.expiryConditions['totalAnswers'] %}
          {% if total_answers == 0 %}
                {% set total_answers = "" %}
          {% endif %}
          <input    id="total_answers" type="number" min="0" class="form-control pl-sm-3 condition"
                    value="{{ total_answers }}"
                    aria-label="{{ form.get_field_label(field_name) }}"
                    aria-describedby="addon-total-answers">
          <div class="input-group-append">
            <input  id="button-total_answers"
                    class="btn btn-success"
                    type="button" value="{%trans%}answers{%endtrans%}"
                    onClick="js:setTotalAnswers();" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <div class="title_1 delimited" style="margin-top:2em">
            {%trans%}When the form has expired{%endtrans%}
            <div style="float:right">
            <button id="show-expired-editor-button" class="btn btn-primary btn-sm">
                {%trans%}Edit text{%endtrans%}
            </button>
            </div>
        </div>
        <div class="title_text_subtext">
        {%trans%}Say something to the user if the form has expired{%endtrans%}
        </div>
        <div id="expired-html" class="marked-up">
            {{ form.expired_text_html | safe }}
        </div>
        <div id="expired-editor" style="display:none">
            <input id="save-expired-mde"
                   class="btn-success btn btn-sm"
                   type="button"
                   value="{%trans%}Save{%endtrans%}" />
            <input id="cancel-expired-mde"
                   class="btn-primary btn btn-sm"
                   type="button"
                   value="{%trans%}Cancel{%endtrans%}" />
            <p></p>
            <textarea id="expired-mde">{{ form.expired_text_markdown }}</textarea>
        </div>
      </div>
    </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";

function dateSet(e){
    if ($('#time').val() == ""){
        $('#time').val("00:00")
    }
}
document.getElementById("date-form").addEventListener("submit", function(){
    event.preventDefault();
    $(this).find("input[type=submit]").blur()
    $.ajax({
        url : "/forms/set-expiration-date/{{ form.id }}",
        type: "POST",
        dataType: "json",
        data: {"date": $("#date").val(), "time": $("#time").val()},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            console.log(data.expired)
            if(data.error){
                $("#date-form-error").html(data.error)
                $("#date-form-error").show()
            }else{
                $("#date-form-error").hide()
                fadeOutHighlight($('#date-form'))
                if (data.expired == true) {
                    $("#expired_alert").show()
                }else{
                    $("#expired_alert").hide()
                }
            }
        }
    });
});
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-expiration-notification/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
jQuery(function($) {
    var savedDate={{form.expiryConditions['expireDate']|tojson}};
    if (savedDate != false){
        fields=savedDate.split(' ');
        $('#date').val(fields[0]);
        $('#time').val(fields[1].slice(0, 5));    // remove seconds for type="time"
    }
});

{% if form.get_available_number_type_fields() %}
function setMaxValue(id){
    var value=$('#'+id).val();
    $.ajax({
        url : "/forms/set-expiry-field-condition/{{ form.id }}",
        type: "POST",
        dataType: "json",
        data: {"field_name": id, "condition": value},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            $('#button-'+id).blur()
            $('#'+id).val(value)
            fadeOutHighlight($('#button-'+id).closest(".input-group"))
            if (data.expired == true) {
                $("#expired_alert").show()
            }else{
                $("#expired_alert").hide()
            }
        }
    });
}
{% endif %}
function setTotalAnswers(id){
    var value = $('#total_answers').val();
    if (value == "") {
        value = 0;
    }
    $.ajax({
        url : "/forms/set-expiry-total-answers/{{ form.id }}",
        type: "POST",
        dataType: "json",
        data: {"total_answers": value},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.total_answers == 0){
                data.total_answers = ""
            }
            $('#total_answers').val(data.total_answers);
            $('#button-total_answers').blur()
            if (data.error === undefined) {
                fadeOutHighlight($('#button-total_answers').closest(".input-group"))
            }
            if (data.expired == true) {
                $("#expired_alert").show()
            }else{
                $("#expired_alert").hide()
            }
        }
    });
}
// expired text editor
$(document).ready(function() {
    var expiredMDE = new SimpleMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("expired-mde")
                             });
    $("#show-expired-editor-button").click(function(){
        $("#expired-html").hide();
        $('#expired-editor').show(0, function() {
            expiredMDE.codemirror.refresh();
            $('html, body').animate({
                scrollTop: $("#expired-editor").offset().top -200
            }, 250);
        });
        $("#show-expired-editor-button").prop('disabled', true);
    });
    $("#cancel-expired-mde").click(function(){
        $("#expired-editor").hide()
        $("#expired-html").show()
        $("#show-expired-editor-button").prop('disabled', false)
        expiredMDE.value($("#expired-mde").val())
    });
    $("#save-expired-mde").click(function(){
        var markdown=expiredMDE.value()
        $.ajax({
            url : "/forms/save-expired-text/{{ form.id }}",
            type: "POST",
            dataType: "json",
            data: {"markdown": markdown},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                $("#show-expired-editor-button").prop('disabled', false);
                $("#expired-html").html(data.html)
                $("#expired-editor").hide()
                $("#expired-html").show(0)
                fadeOutHighlight($("#expired-html"))
                $("#expired-mde").val(data.markdown)
                expiredMDE.value($("#expired-mde").val())
            }
        });
    });
});
function fadeOutHighlight(element){
    element.css("background-color", "#C3FDB8")
    element.animate({ backgroundColor: "white" }, 2000)
}
</script>

{% endblock %}
