{% extends "base.html" %}
{% block content %}

<!-- inspect_form_page -->

<script src="/static/formBuilder/form-render.min.js"></script>
<script src="/static/simplemde/simplemde.min.js"></script>
<script src="/static/jquery/jquery.color-2.1.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">

{% set dataConsent = form.get_data_consent_for_display() %}
{% set total_answers = form.get_total_answers() %}
{% set author = form.get_author() %}
{% set current_user_is_editor = form.is_editor(g.current_user) %}

<div class="container">
<div class="row">
    <div id="details_col"
         class="col-md-6">

        <div class="title_1 delimited">
            {%trans%}Details{%endtrans%}
            <div style="float:right">
            {% if current_user_is_editor %}
                <a class="btn btn-primary btn-sm"
                   role="button"
                   href="/forms/answers/{{form.id}}">
                   {%trans%}View answers{%endtrans%}
                   <span class="badge badge-light">
                     {{total_answers}}
                   </span>
                </a>
                <a class="btn btn-primary btn-sm"
                   role="button"
                   href="/forms/answers/stats/{{form.id}}">
                   {%trans%}Graphs{%endtrans%}
                   <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
            {% else %}
                <button class="btn btn-primary btn-sm" disabled>
                    {%trans%}Total answers{%endtrans%}
                    <span class="badge badge-light">{{total_answers}}</span>
                </button>
            {% endif %}
            </div>
        </div>
        <table class="table table-sm sparse-table">
            <tr>
                <td>{%trans%}Name{%endtrans%}</td>
                <td>{{ form.slug }}</td>
            </tr>
            <tr>
               <td>{%trans%}Last answer{%endtrans%}</td>
               <td>
                   {% if total_answers %}
                        {% if current_user_is_editor %}
                        <a href="/forms/answers/{{form.id}}">
                          {{ form.get_last_answer_date() }}
                        </a>
                        {% else %}
                        {{ form.get_last_answer_date() }}
                        {% endif %}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>
                    {%trans%}Public URL{%endtrans%}
                    {% if not form.adminPreferences['public'] %}
                      <span class="highlightedText text-lowercase">
                        ({%trans%}Disabled{%endtrans%})
                      </span>
                    {% endif %}
               </td>
               <td>
                   {% if form.is_public() %}
                   <a id="formLink" href="{{ form.url }}">{{ form.url }}</a>
                   <span id="formURL" style="display:none">{{ form.url }}</span>
                   {% else %}
                   <a id="formLink" href="{{ form.url }}"
                      style="display:none">
                      {{ form.url }}
                   </a>
                   <span id="formURL">{{ form.url }}</span>
                   {% endif %}
                </td>
            </tr>
            {% if current_user_is_editor and g.current_user.fedi_auth %}
            <tr>
              <td>
                {%trans%}Fediverse{%endtrans%}
              </td>
              <td>
                <button id="fediverse-publish"
                        class="btn btn-primary btn-xs"
                        style="padding:5px 4px 3px 4px"
                        onclick="window.location.href='/form/{{form.id}}/fediverse-publish'"
                        {% if not form.is_public() %}disabled{% endif %}>
                  {%trans%}Published{%endtrans%}
                  <span class="badge badge-light">
                    {{ form.published_cnt }}
                  </span>
                </button>
              </td>
            </tr>
            {% endif %}
            <tr>
               <td>{%trans%}Public{%endtrans%}</td>
               <td>
               {% if current_user_is_editor %}
                   <div id="toggle_enabled" class="btn-group btn-toggle">
                    <button id="enabled_true"
                            class="btn btn-xs btn-default
                                  {% if form.is_public() %}btn-success{% endif %}">
                        {%trans%}True{%endtrans%}
                    </button>
                    <button id="enabled_false"
                            class="btn btn-xs btn-default
                                  {% if not form.is_public() %}btn-primary{% endif %}">
                        {%trans%}False{%endtrans%}
                    </button>
                   </div>
               {% else %}
                    {% if form.is_public() %}
                      {%trans%}True{%endtrans%}
                    {% else %}
                      {%trans%}False{%endtrans%}
                    {% endif %}
               {% endif %}
               </td>
            </tr>
            {% set form_user = form.get_form_user(g.current_user.id) %}
            {% if form_user != None %}
            <tr>
              <td>
                {%trans%}New answer{%endtrans%}
              </td>
              <td>
                <div id="toggle_notification"
                     class="btn-group btn-toggle">
                  <button id="notification_true"
                          class="btn btn-xs btn-default
                                {% if form_user['notifications']['newAnswer'] %}
                                btn-success
                                {% endif %}">
                      {%trans%}True{%endtrans%}
                  </button>
                  <button id="notification_false"
                          class="btn btn-xs btn-default
                                {% if not form_user['notifications']['newAnswer'] %}
                                btn-primary
                                {% endif %}">
                      {%trans%}False{%endtrans%}
                  </button>
                </div>
                {%trans%}Notify me{%endtrans%}
              </td>
            </tr>
            {% endif %}
            <tr>
               <td>{%trans%}Expiration{%endtrans%}</td>
               <td>
                   {% if current_user_is_editor %}
                        {% if form.expired %}
                          <a class="btn btn-warning btn-xs"
                             role="button"
                             href="/forms/expiration/{{form.id}}">
                             {%trans%}This form has expired{%endtrans%}
                          </a>
                        {% elif form.can_expire() %}
                          <a class="btn btn-success btn-xs"
                             role="button"
                             href="/forms/expiration/{{form.id}}">
                             {%trans%}This form will expire{%endtrans%}
                          </a>
                        {% else %}
                          <a class="btn btn-primary btn-xs"
                             role="button"
                             href="/forms/expiration/{{form.id}}">
                             {%trans%}False{%endtrans%}
                          </a>
                        {% endif %}
                   {% else %}
                        {% if form.expired %}
                            {%trans%}Expired{%endtrans%}
                        {% elif form.can_expire() %}
                            {%trans%}True{%endtrans%}
                        {% else %}
                            {%trans%}False{%endtrans%}
                        {% endif %}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Editors{%endtrans%}</td>
               <td>
                   {% set editors=form.get_editors() %}
                   {% if current_user_is_editor %}
                        {% if editors.count() > 1 %}
                        {% set number='<span class="badge badge-light">%s</span>' |
                           format(editors.count() -1) %}
                        <a class="btn btn-primary btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}"
                           style="padding:5px 4px 3px 4px">
                           {%trans number=number|safe%}Form shared with {{number}}{%endtrans%}
                        </a>
                        {% else %}
                        <a class="btn btn-primary btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}">
                           {%trans%}Add editors{%endtrans%}
                        </a>
                        {% endif %}
                   {% else %}
                        {%trans number=editors.count()-1%}Form shared with {{number}}{%endtrans%}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Shared answers{%endtrans%}</td>
               <td>
                   {% set readers=form.get_readers() %}
                   {% if current_user_is_editor %}
                        {% if readers.count() > 0 %}
                        {% set number='<span class="badge badge-light">%s</span>' |
                           format(readers.count()) %}
                        <a class="btn btn-primary btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}"
                           style="padding:5px 4px 3px 4px">
                           {%trans number=number|safe%}Answers shared with {{number}}{%endtrans%}
                        </a>
                        {% else %}
                        <a class="btn btn-primary btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}">
                           {%trans%}Share{%endtrans%}
                        </a>
                        {% endif %}
                   {% else %}
                        {{ readers.count() }}
                   {% endif %}
               </td>
            </tr>
            <tr>
               <td>{%trans%}Restricted access{%endtrans%}</td>
               <td>
                   {% if current_user_is_editor %}
                        {% if form.restrictedAccess %}
                        <a class="btn btn-success btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}#restricted_access">
                           {%trans%}True{%endtrans%}
                        </a>
                        {% else %}
                        <a class="btn btn-primary btn-xs"
                           role="button"
                           href="/forms/share/{{form.id}}#restricted_access">
                           {%trans%}False{%endtrans%}
                        </a>
                        {% endif %}
                   {% else %}
                        {% if form.restrictedAccess %}
                          {%trans%}True{%endtrans%}
                        {% else %}
                          {%trans%}False{%endtrans%}
                        {% endif %}
                   {% endif %}
               </td>
            </tr>
            {% if form.has_email_field() %}
            <tr>
                <td>{%trans%}Confirmation{%endtrans%}</td>
                <td>
                {% if current_user_is_editor %}
                  <div id="toggle_sendConfirmation"
                        class="btn-group btn-toggle">
                    <button id="sendConfirmation_true"
                            class="btn btn-xs
                                   btn-default
                                   {% if form.sendConfirmation %}btn-success{% endif %}">
                        {%trans%}Enabled{%endtrans%}
                    </button>
                    <button id="sendConfirmation_false"
                            class="btn btn-xs
                                   btn-default
                                   {% if not form.sendConfirmation %}btn-primary{% endif %}">
                        {%trans%}Disabled{%endtrans%}
                    </button>
                  </div>
                {% else %}
                    {{ form.sendConfirmation }}
                {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td id="DPL-anchor">{%trans%}DPL{%endtrans%}</td>
                <td>
                {% if current_user_is_editor %}
                    <div id="toggle_dataConsent" class="btn-group btn-toggle mb-1 mb-lg-0">
                    <button id="dataConsent_true"
                            class="btn btn-xs btn-default
                                  {% if dataConsent['enabled'] %}btn-success{% endif %}">
                        {%trans%}Enabled{%endtrans%}
                    </button>
                    <button id="dataConsent_false"
                            class="btn btn-xs btn-default
                                  {% if not dataConsent['enabled'] %}btn-primary{% endif %}">
                        {%trans%}Disabled{%endtrans%}
                    </button>
                    </div>
                    &nbsp;
                    <button id="show-DPL-text-button"
                            class="btn btn-primary btn-xs mb-1 mb-md-0">
                        {%trans%}Personalize{%endtrans%}
                    </button>
                {% else %}
                    {% if dataConsent['enabled'] %}
                      {%trans%}True{%endtrans%}
                    {% else %}
                      {%trans%}False{%endtrans%}
                    {% endif %}
                {% endif %}

               </td>
            </tr>
            {% if current_user_is_editor %}
            <tr id="DPL-text-block" style="display:none">
                <td colspan="3">
                <div class="title_2">{%trans%}Data protection{%endtrans%}</div>
                <div id="DPL-text-editor">
                    <input id="save-DPL-button"
                           class="btn-success btn btn-sm"
                           type="button"
                           value="{%trans%}Save{%endtrans%}" />
                    <input id="cancel-DPL-button"
                           class="btn-primary btn btn-sm"
                           type="button"
                           value="{%trans%}Cancel{%endtrans%}" />
                    {% set siteConsent = form.site.get_consent_for_display(dataConsent['id']) %}
                    {% set disabled = "disabled" if siteConsent.markdown == dataConsent.markdown else "" %}
                    <input id="default-DPL-button"
                           class="btn-primary btn btn-sm"
                           type="button"
                           value="{%trans%}Use the template{%endtrans%}" {{disabled}}/>

                    <div style="margin-top:1em">
                    <textarea id="DPL-mde">{{ dataConsent['markdown'] }}</textarea>
                        <div id="{{consent_id}}-consent-editor" class="form-row">
                            <div class="form-group col">

                            {% set placeholder = siteConsent['label'] if siteConsent['label'] else _('I agree') %}
                            <input id="dataConsent-label-input"
                                   class="form-control form-control-sm"
                                   type="text"
                                   placeholder="{{placeholder}}"
                                   value="{{form.data_consent['label']}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataConsentText" style="display:none">
                    {{ dataConsent['html']|safe }}
                </div>
                </td>
            </tr>
            {% endif %}
            <tr>
               <td>
                    {%trans%}Author{%endtrans%}
                    {% if not author.enabled %}
                        <span class="highlightedText text-lowercase">
                          ({%trans%}Disabled{%endtrans%})
                        </span>
                    {% endif %}
               </td>
               <td>
               {% if g.is_admin %}
                    <a href="/admin/users/{{ author.id }}">{{ author.username }}</a>
               {% else %}
                    {{ author.username }}
                {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Created{%endtrans%}</td>
               <td>{{ form.get_created_date() }}</td>
            </tr>
            {% if g.is_root_user_enabled %}
            <tr>
                <td>{%trans%}Hostname{%endtrans%}</td>
                <td>{{ form.hostname }}</td>
            </tr>
            {% endif %}
        </table>

        <div class="title_1 delimited" style="margin-top:2.5em">
            {%trans%}After replying to the form{%endtrans%}
            {% if current_user_is_editor %}
              <div style="float:right">
                <button id="show-after-submit-editor-button"
                        class="btn btn-primary btn-xs">
                    {%trans%}Edit text{%endtrans%}
                </button>
              </div>
            {% endif %}
        </div>
        <div class="title_text_subtext">
        {%trans%}Say something to the user after the form has been submitted{%endtrans%}
        </div>
        <div id="after-submit-html" class="afterSubmitText marked-up">
            {{ form.after_submit_text_html | safe }}
        </div>
        {% if current_user_is_editor %}
        <div id="after-submit-editor" style="display:none">
          <input id="save-after-submit-mde"
                 class="btn-success btn btn-sm"
                 type="button"
                 value="{%trans%}Save{%endtrans%}" />
          <input id="cancel-after-submit-mde"
                 class="btn-primary btn btn-sm"
                 type="button"
                 value="{%trans%}Cancel{%endtrans%}" />
          <p></p>
          <!-- keep textarea on one line -->
          <textarea id="after-submit-mde">{{ form.after_submit_text_markdown }}</textarea>
        </div>
        {% endif %}

        {% if form.can_expire() %}
        <div class="title_1 delimited" style="margin-top:2.5em">
          {%trans%}When the form has expired{%endtrans%}
          {% if current_user_is_editor %}
              <div style="float:right">
              <button id="show-expired-editor-button"
                      class="btn btn-primary btn-xs">
                  {%trans%}Edit text{%endtrans%}
              </button>
              </div>
          {% endif %}
        </div>
        <div class="title_text_subtext">
        {%trans%}Say something to the user if the form has expired{%endtrans%}
        </div>
        <div id="expired-html" class="expiredText marked-up">
            {{ form.expired_text_html | safe }}
        </div>
        {% if current_user_is_editor %}
        <div id="expired-editor" style="display:none">
          <input id="save-expired-mde"
                 class="btn-success btn btn-sm"
                 type="button"
                 value="{%trans%}Save{%endtrans%}" />
          <input id="cancel-expired-mde"
                 class="btn-primary btn btn-sm"
                 type="button"
                 value="{%trans%}Cancel{%endtrans%}" />
          <p></p>
          <!-- keep textarea on one line -->
          <textarea id="expired-mde">{{ form.expired_text_markdown }}</textarea>
        </div>
        {% endif %}
        {% endif %}

        {% if current_user_is_editor %}
        <div class="title_1 delimited" style="margin-top:2.5em">
            {%trans%}Other options{%endtrans%}
        </div>
        <div id="embed_snippet">
        <code>
          {{'<iframe width="500" height="600" frameborder="0" src="'}}{{form.embed_url}}{{'"></iframe>'}}
        </code>
        </div>
        <p>
        <a class="btn btn-primary btn-sm mb-1 mb-lg-0"
           role="button"
           href="/forms/log/list/{{form.id}}">
           {%trans%}View log{%endtrans%}
        </a>
        <a class="btn-primary btn btn-sm mb-1 mb-lg-0"
           role="button"
           href="/forms/duplicate/{{form.id}}">
           {%trans%}Duplicate form{%endtrans%}
        </a>
        <a class="btn-primary btn btn-sm mb-1 mb-lg-0"
           role="button"
           href="#!"
           onClick="js:$('#embed_snippet').show();">
           {%trans%}Embed form{%endtrans%}
        </a>
        </p>
            {% if total_answers == 0 %}
            <a class="btn-warning btn btn-sm"
               role="button"
               href="/forms/delete/{{form.id}}">
               {%trans%}Delete form{%endtrans%}
            </a>
            {% else %}
            <a class="btn-warning btn btn-sm"
               role="button"
               href="/forms/delete/{{form.id}}">
               {%trans%}Delete form and answers{%endtrans%}
            </a>
            {% endif %}
        {% endif %}

        {% if g.is_admin %}
        <div class="title_1 delimited" style="margin-top:2.5em">
            {%trans%}Admin options{%endtrans%}
        </div>
        <a class="btn btn-primary"
           role="button"
           href="/forms/duplicate/{{form.id}}">
           {%trans%}Duplicate{%endtrans%}
        </a>
            {% if form.adminPreferences['public'] %}
            <a class="btn btn-danger"
               role="button"
               href="/admin/forms/toggle-public/{{form.id}}">
               {%trans%}Disable{%endtrans%}
            </a>
            {% else %}
            <a class="btn btn-primary"
               role="button"
               href="/admin/forms/toggle-public/{{form.id}}">
               {%trans%}Enable{%endtrans%}
            </a>
            {% endif %}
        {% endif %}
        {% if g.current_user.is_root_user() %}
        <div class="title_1 delimited" style="margin-top:2.5em">
            {%trans%}Super Admin options{%endtrans%}
        </div>
        <a class="btn btn-primary"
           role="button"
           href="/admin/forms/change-author/{{form.id}}">
           {%trans%}Change author{%endtrans%}
        </a>
        {% endif %}
        <p>&nbsp;</p>
    </div>

    <div class="col-md-6">
        <div class="title_1 delimited">
        {%trans%}Form{%endtrans%}
        {% if current_user_is_editor %}
        <div style="float:right">
          <a class="btn-primary btn btn-sm"
             role="button"
             href="/forms/edit/{{form.id}}">
             {%trans%}Edit form{%endtrans%}
             <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </div>
        {% endif %}
        </div>

        <div id="liberaform" class="liberaform">
          <div class="formIntroduction marked-up">
          {{ form.introductionText['html'] | safe }}
          </div>
          <div id='required_message'
               class='required'
               style="display:none">
               ● {%trans%}Required fields{%endtrans%}
          </div>
          <div id="fb-render"></div>
          {% if form.has_email_field() %}
          <div id="sendConfirmation"
               class="form-group form-check confirmation-group"
               {% if not form.sendConfirmation %}style="display:none;"{% endif %}>
            <input id="confirmation_checkbox"
                   class="form-check-input send-confirmation"
                   type="checkbox"
                   name="send-confirmation"
                   value="ok"
                   disabled />
            <label for="confirmation_checkbox"
                   class="form-check-label
                   send-confirmation">
                {%trans%}Send me confirmation by mail{%endtrans%}
                <span id='confirmation_email'></span>
            </label>
          </div>
          {% endif %}
          <div id="data_consent_preview"
               class="consentText form-group"
               {% if dataConsent['enabled']==False %}style="display:none;"{% endif %}>
            <div class="dataConsentText">{{ dataConsent['html']|safe }}</div>
            <div class="form-check">
              <input id="dummy-consent-checkbox"
                     type="checkbox"
                     name="DPL"
                     class="form-check-input consent"
                     required />
              <label id="DPL-label"
                     for="dummy-consent-checkbox"
                     class="form-check-label consent required">
                  {{ dataConsent['label'] }}
                  <span class="required-dot">●</span>
              </label>
            </div>
          </div>
          <button class="btn btn-lg btn-success"
                 type="submit"
                 value=""
                 disabled >
              {%trans%}Send{%endtrans%}
          </button>
        </div>
    </div>
</div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
var allowed_extensions = "{{ ', '.join(g.site.mimetypes['extensions']).upper() }}";
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                postFormRender();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});

{% with form=form %}
{% include '_post-render-scripts.js' %}
{% endwith %}

{% if current_user_is_editor %}
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-enabled/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('btn-success');
                $('#enabled_false').removeClass('btn-primary');
                $('#formURL').hide();
                $('#formLink').show();
                $('#fediverse-publish').prop('disabled', false);
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('btn-success');
                $('#enabled_false').addClass('btn-primary');
                $('#formURL').show();
                $('#formLink').hide();
                $('#fediverse-publish').prop('disabled', true);
            }
        }
    });
});
document.getElementById('toggle_dataConsent').addEventListener('click', function(evt){
    $("#saved-DPL-notification").hide()
    $.ajax({
        url : "/form/toggle-data-consent/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#dataConsent_true').addClass('btn-success');
                $('#dataConsent_false').removeClass('btn-primary');
                $('#data_consent_preview').show();
            }
            else if (data.enabled == false) {
                $('#dataConsent_true').removeClass('btn-success');
                $('#dataConsent_false').addClass('btn-primary');
                $('#data_consent_preview').hide();
            }
            if ($('#liberaform').find("span.formbuilder-required, #data_consent_preview").filter(":visible").length) {
                $("#required_message").show()
            }else{
                $("#required_message").hide()
            }
        }
    });
});
{% if form.has_email_field() %}
document.getElementById('toggle_sendConfirmation').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-send-confirmation/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.confirmation == true) {
                $('#sendConfirmation_true').addClass('btn-success');
                $('#sendConfirmation_false').removeClass('btn-primary');
                $('#sendConfirmation').show();
            }
            else if (data.confirmation == false) {
                $('#sendConfirmation_true').removeClass('btn-success');
                $('#sendConfirmation_false').addClass('btn-primary');
                $('#sendConfirmation').hide();
            }
        }
    });
});
{% endif %}
// notify me on new answer
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-notification/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-success');
                $('#notification_false').removeClass('btn-primary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-success');
                $('#notification_false').addClass('btn-primary');
            }
        }
    });
});
// DPL editor
var consent_cache = {}
$(document).ready(function() {
    var dpl_MDE = new SimpleMDE({
                                autosave: {enabled: false},
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("DPL-mde")
                             });
    $("#show-DPL-text-button").click(function(){
        $("#show-DPL-text-button").prop('disabled', true);
        $("#details_col").find(".dataConsentText").hide()
        $("#DPL-text-block").show()
        $("#DPL-text-editor").show(0, function() {
                    dpl_MDE.codemirror.refresh();
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $("#DPL-anchor").offset().top
                    }, 200);
                });
    });
    $("#save-DPL-button").click(function(){
        var markdown = dpl_MDE.value()
        var label = $("#dataConsent-label-input").val()
        var required = {{ dataConsent['required']|tojson }}
        var data = {"markdown": markdown, "label": label, 'required': required}
        $.ajax({
            url : "/forms/save-consent/{{form.id}}/{{dataConsent.id}}",
            type: "POST",
            dataType: "json",
            data: data,
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                //console.log(data)
                $("#show-DPL-text-button").prop('disabled', false);
                $("#DPL-text-editor").hide()
                $(".dataConsentText").html(data.html)
                $(".dataConsentText").show(0)
                fadeOutHighlight($(".dataConsentText"))
                $("#DPL-mde").val(data.markdown)
                dpl_MDE.value($("#DPL-mde").val())
                if (! data.label ){
                    data.label="{{_('I agree')}}"
                }
                $("#DPL-label").html(data.label).append('<span class="required-dot">●</span>')
                $("#DPL-label").show()
            }
        });
    });
    $("#cancel-DPL-button").click(function(){
        $("#DPL-text-block").hide()
        if (consent_cache['markdown'] !== undefined) {
            $("#DPL-mde").val(consent_cache['markdown'])
            dpl_MDE.value($("#DPL-mde").val())
        } else {
            dpl_MDE.value($("#DPL-mde").val())
        }
        if (consent_cache['label'] !== undefined) {
           $("#dataConsent-label-input").val(consent_cache['label'])
        } else {
            $("#dataConsent-label-input").val("")
        }
        $("#show-DPL-text-button").prop('disabled', false);
    });
    $("#default-DPL-button").click(function(){
        consent_cache['markdown'] = dpl_MDE.value()
        consent_cache['label'] = $("#dataConsent-label-input").val()
        $.ajax({
            url : "/forms/default-consent/{{form.id}}/{{dataConsent.id}}",
            type: "GET",
            dataType: "json",
            data: {},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                $("#DPL-mde").val(data.markdown)
                dpl_MDE.value($("#DPL-mde").val())
                if (data.label == "{{ _('I agree') }}") {
                    $("#dataConsent-label-input").val("")
                } else {
                    $("#dataConsent-label-input").val(data.label)
                }
                $("#default-DPL-button").prop('disabled', true)
            }
        });
    });
    dpl_MDE.codemirror.on("change", function(){
        $("#default-DPL-button").prop('disabled', false)
    });
});
// after submit editor
$(document).ready(function() {
    var afterSubmitMDE = new SimpleMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("after-submit-mde")
                             });
    $("#show-after-submit-editor-button").click(function(){
        $("#after-submit-html").hide();
        $('#after-submit-editor').show(0, function() {
            afterSubmitMDE.codemirror.refresh();
        });
        $("#show-after-submit-editor-button").prop('disabled', true);
    });
    $("#cancel-after-submit-mde").click(function(){
        $("#after-submit-editor").hide()
        $("#after-submit-html").show()
        $("#show-after-submit-editor-button").prop('disabled', false);
        afterSubmitMDE.value($("#after-submit-mde").val())
    });
    $("#save-after-submit-mde").click(function(){
        var markdown=afterSubmitMDE.value()
        $.ajax({
            url : "/forms/save-after-submit-text/{{ form.id }}",
            type: "POST",
            dataType: "json",
            data: {"markdown": markdown},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                //console.log(data.markdown)
                $("#show-after-submit-editor-button").prop('disabled', false);
                $("#after-submit-html").html(data.html)
                $("#after-submit-editor").hide()
                $("#after-submit-html").show(0)
                fadeOutHighlight($("#after-submit-html"))
                $("#after-submit-mde").val(data.markdown)
                afterSubmitMDE.value($("#after-submit-mde").val())
            }
        });
    });
});
// expired text editor
$(document).ready(function() {
    var expiredMDE = new SimpleMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: document.getElementById("expired-mde")
                             });
    $("#show-expired-editor-button").click(function(){
        $("#expired-html").hide();
        $('#expired-editor').show(0, function() {
            expiredMDE.codemirror.refresh();
        });
        $("#show-expired-editor-button").prop('disabled', true);
    });
    $("#cancel-expired-mde").click(function(){
        $("#expired-editor").hide()
        $("#expired-html").show()
        $("#show-expired-editor-button").prop('disabled', false)
        expiredMDE.value($("#expired-mde").val())
    });
    $("#save-expired-mde").click(function(){
        var markdown=expiredMDE.value()
        $.ajax({
            url : "/forms/save-expired-text/{{ form.id }}",
            type: "POST",
            dataType: "json",
            data: {"markdown": markdown},
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            success: function(data, textStatus, jqXHR)
            {
                $("#show-expired-editor-button").prop('disabled', false);
                $("#expired-html").html(data.html)
                $("#expired-editor").hide()
                $("#expired-html").show(0)
                fadeOutHighlight($("#expired-html"))
                $("#expired-mde").val(data.markdown)
                expiredMDE.value($("#expired-mde").val())
            }
        });
    });
});
function fadeOutHighlight(element){
    element.css("background-color", "#C3FDB8")
    element.animate({ backgroundColor: "white" }, 2000)
}
{% endif %}
</script>

{% endblock %}
