{% extends "base.html" %}
{% block content %}

<!-- my_forms_page -->

<link rel="stylesheet" href="/static/dataTable/data-table.css">

<div class="container">
  <div class="row">
    <div class="col" style="font-size:1.5em">
        {%trans%}My forms{%endtrans%}
    </div>
    <div class="col-auto">
      <a class="btn btn-sm btn-primary"
         role="button"
         href="/forms/templates">
        {%trans%}Templates{%endtrans%}
        <i class="fa fa-file-text" aria-hidden="true"></i>
      </a>
      <a class="btn btn-sm btn-primary"
         role="button"
         href="/forms/new">
        {%trans%}New form{%endtrans%}
        <i class="fa fa-star" aria-hidden="true"></i>
      </a>
      <a class="btn btn-sm btn-primary"
         role="button"
         href="/user/{{g.current_user.username}}/statistics">
        {%trans%}Statistics{%endtrans%}
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div data-vue-component="data-display"
           data-items_endpoint="/data-display/forms/{{g.current_user.id}}"
           data-can_edit=false
           data-csrf_token="{{ csrf_token() }}">
      </div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>

{% endblock %}
