{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>
<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ g.current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

{% set dataConsent = form.get_data_consent_for_display() %}
{% set can_attach_files = form.has_file_field() %}

<div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div id="liberaform"
         class="liberaform"
         style="display:none">
      <div class="formIntroduction marked-up" >
        {{ form.introductionText['html'] | safe }}
      </div>

      <div id='required_message' class='required' style="display:none">
        ● {%trans%}Required fields{%endtrans%}
      </div>

      {% if can_attach_files %}
      <form id="form" method="POST" enctype="multipart/form-data">
      {% else %}
      <form id="form" method="POST">
      {% endif %}
        {% if not g.embedded %}
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        {% endif %}
        <div id="fb-render">
        </div>
        {% if form.might_send_confirmation_email() %}
        <div class="form-group
                    form-check">
          <input id="confirmation_checkbox"
                 class="form-check-input send-confirmation"
                 type="checkbox"
                 name="send-confirmation"
                 value="ok"
                 disabled
          />
          <label for="confirmation_checkbox"
                 class="form-check-label
                        send-confirmation">
            {%trans%}Send me confirmation by mail{%endtrans%}
            <span id='confirmation_email'></span>
          </label>
        </div>
        {% endif %}
        {% if dataConsent['enabled'] %}
        <div class="consentText
                    form-group">
          <div id="dataConsentText" >
            {{ dataConsent['html'] | safe }}
          </div>
          <div class="form-check">
            <input id="I_agree"
                   type="checkbox"
                   class="form-check-input consent"
                   name="DPL"
                   value="ok"
                   required />
            <label for="I_agree"
                   class="form-check-label
                          consent required">
            {{ dataConsent['label'] }}
            <span class="required-dot">●</span>
            </label>
          </div>
        </div>
        {% endif %}
        <input class="btn
                      btn-lg
                      btn-success"
               type="submit"
               value="{%trans%}Send{%endtrans%}"
        >
      </form>
    </div>
  </div>
</div>
</div>

<script>
jQuery(function($) {
    var fbRender = document.getElementById('fb-render');
    var formData = {{ form.structure | tojson }};
    var formRenderOpts = {
        formData,
        dataType: 'json',
        layoutTemplates: {
          help: function(helpText) {
            return $('<span/>')
              .addClass('label-description')
              .append(helpText);
          },
          label: function(label, data) {
            return $('<label />')
              .attr('for', data.id)
              .append(label);
          }
        },
        notify: {
            success: function(message) {
                postFormRender();
                $('input[type=file]').each(function() {
                  $(this).attr('data-parsley-max-file-size',
                               {{ config['MAX_FILE_UPLOAD_SIZE']/1024 }}
                  );
                  $(this).attr('data-parsley-filemimetypes',
                              "{{ ', '.join(g.site.get_mimetypes()) }}"
                  );
                });
                $('#form').parsley();
                $('#liberaform').show();
                return;
            }
        }
    };
    $(fbRender).formRender(formRenderOpts);
});
{% with form=form %}
{% include '_post-render-scripts.js' %}
{% endwith %}

$(function () {
  $('#form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    //return; // Don't submit form for this demo
  });
  {% if can_attach_files %}
  window.Parsley
  .addValidator('maxFileSize', {
    validateString: function(_value, maxSize, parsleyInstance) {
      if (!window.FormData) {
        //alert('You are making all developpers in the world cringe. Upgrade your browser!');
        return true;
      }
      var files = parsleyInstance.$element[0].files;
      return files.length != 1  || files[0].size <= maxSize * 1024;
    },
    requirementType: 'integer',
    messages: {
      en: 'This file should not be larger than %s Kb',
      ca: 'El fitxer no ha de ser més gran que %s Kb',
      fr: 'Ce fichier est plus grand que %s Kb.'
    }
  })
  .addValidator('filemimetypes', {
    validateString: function(_value, requirement, parsleyInstance) {
      console.log(requirement)
      if (!window.FormData) {
        return true;
      }
      var file = parsleyInstance.$element[0].files;
      if (file.length == 0) {
        return true;
      }
      var allowedMimeTypes = requirement.replace(/\s/g, "").split(',');
      return allowedMimeTypes.indexOf(file[0].type) !== -1;
    },
    requirementType: 'string',
    messages: {
      en: 'File mime type not allowed',

    }
  });
  {% endif %}
});
</script>

{% endblock %}
