{% extends "base.html" %}
{% block content %}

<!-- https://tools.splat.soy/pleroma-access-token/ -->

<!-- fediverse_config_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="title_1 delimited">
        {%trans%}Fediverse configuration{%endtrans%}
      </div>

      <form id="save_token_form"
            action="/user/{{g.current_user.username}}/fediverse"
            method="POST">
          {{ wtform.csrf_token }}
          {{ wtform.node_url.label }}
          <span class='required'>●</span>
          {{ wtform.node_url(class_="form-control",
                             placeholder="https://node.fediverse") }}

        <p>&nbsp;</p>
        {{ wtform.access_token.label }}
        <span class='required'>●</span>
        <button class="btn btn-success btn-xs"
                type="button"
                id="generate_btn"
                style="margin: 0 0 0.2em 0.2em"
                name="btn">
            {%trans%}Generate{%endtrans%}
        </button>

        {{ wtform.access_token(class_="form-control") }}
        {% for error in wtform.access_token.errors %}
          <span class="formError">{{ error }}</span><br />
        {% endfor %}

        <div class="form-actions">
          <input id="save_config"
                 type="submit"
                 class="btn btn-success"
                 role="button"
                 value="{%trans%}Save{%endtrans%}"
                 form="save_token_form" />
          <button class="btn btn-danger"
                  type="button"
                  id="delete_config">
             {%trans%}Delete{%endtrans%}
          </button>
        </div>
      </form>

    	<div style="display:none;">
        <input type="text"
               id="client_name"
               value="LiberaForms" />
    		<input type="text"
               id="website"
               value="{{ g.site.host_url.rstrip('/') }}" />
    		<input type="text"
               id="pleroma_url"
               value="" />
        <span id="client_id"></span>
        <span id="client_secret"></span>
    	</div>

    </div>
  </div>
</div>

<script>

  function elem(el) {
  	return document.getElementById(el);
  }

  $(document).ready(function() {
    elem('pleroma_url').value = elem("node_url").value
  });

  if ( elem("access_token").value === "" ) {
    //elem("save_config").disabled = true;
    elem("delete_config").disabled = true;
  }

  elem("node_url").addEventListener("input", function(event) {
    elem('pleroma_url').value = elem("node_url").value
    elem("node_url").classList.remove("is-invalid")
  });

  function makePostData(args) {
  	var data = [];
  	Object.keys(args).forEach(function(key) {
  		data.push(encodeURIComponent(key) + '=' + encodeURIComponent(args[key]));
  	});
  	rtn = data.join('&').replace(/%20/g, '+');
  	return rtn
  }

  function post(url, args, done) {
  	var xhr = new XMLHttpRequest();
  	xhr.onreadystatechange = function() {
  		if (xhr.readyState === 4 && xhr.status === 200) {
  			var data = xhr.response;
  			done(data);
  		}
  	}
  	xhr.open("POST", url, true);
  	xhr.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
  	xhr.responseType = "json";
  	var postData = makePostData(args);
  	xhr.send(postData);
  }

  function getQueryVariable(variable)
  {
  	var query = window.location.search.substring(1);
  	var vars = query.split("&");
  	for (var i=0;i<vars.length;i++) {
  		var pair = vars[i].split("=");
  		if(pair[0] == variable){return pair[1];}
  	}
  	return(false);
  }

  /* main */
  var redirect_uri = window.location.protocol+"//"+window.location.host+window.location.pathname;
  var pleroma_url = localStorage.getItem("PLEROMA_URL");
  var client_id = localStorage.getItem("PLEROMA_CLIENT_ID");
  var client_secret = localStorage.getItem("PLEROMA_CLIENT_SECRET");

  if (window.location.href.indexOf("?code=") !== -1 && pleroma_url != "" && client_id != "" && client_secret != "") {
  	var code = getQueryVariable("code");
  	var url2 = pleroma_url+"/oauth/token";
  	elem("pleroma_url").value = pleroma_url;
  	elem("node_url").value = pleroma_url;
  	//elem("client_id").textContent = client_id;
  	//elem("client_secret").textContent = client_secret;
  	var args2 = {client_id: client_id,
  		client_secret: client_secret,
  		redirect_uri: redirect_uri,
  		grant_type: "authorization_code",
  		code: code};
  		post(url2, args2, function(data) {
  			elem('access_token').value = data.access_token;
        //elem('pleroma_url').value = pleroma_url;
        //elem('node_url').value = pleroma_url;
  		});
  } else {
  	localStorage.setItem("PLEROMA_URL", "");
  	localStorage.setItem("PLEROMA_CLIENT_ID", "");
  	localStorage.setItem("PLEROMA_CLIENT_SECRET", "");
  }

  //elem("sbmt").addEventListener("submit", function(event) {
  elem("generate_btn").addEventListener("click", function(event) {
    elem('pleroma_url').value = elem("node_url").value
    if ( elem("pleroma_url").value === "" ) {
      elem("node_url").classList.add("is-invalid")
      return;
    }
  	event.preventDefault();
  	var url = elem("pleroma_url").value+"/api/v1/apps";
  	//var s = elem("scopes");
  	//var scopes = s.options[s.selectedIndex].value;
    var scopes = "write"
  	var args = {
      client_name: elem("client_name").value,
    	redirect_uris: redirect_uri,
    	website: elem("website").value,
    	scopes: scopes
    };
  	post(url ,args, function(data) {
  		localStorage.setItem("PLEROMA_URL", elem("pleroma_url").value);
  		localStorage.setItem("PLEROMA_CLIENT_ID", data.client_id);
  		localStorage.setItem("PLEROMA_CLIENT_SECRET", data.client_secret);
  		var redirectLink = elem("pleroma_url").value+"/oauth/authorize?client_id="+data.client_id+"&redirect_uri="+redirect_uri+"&response_type=code&scope=" + scopes;
  		window.location.href = redirectLink;
  	});
  });

</script>

{% endblock %}
